html.darkonlight div.educational_link img.card-img-top {
  border-color:; var(--colour-white);
}

html.darkonlight div.educational_link:hover img.card-img-top {
  background-color: var(--colour-white);
}

html.darkonlight div.article_body {
  background-color: var(--lightmode-colour-yellow-pale);
}

html.darkonlight div.article_body p {
  color: var(--lightmode-colour-green-dark);
}

html.darkonlight div.article_body ul,
html.darkonlight div.article_body ol {
  color: var(--lightmode-colour-green-dark);
}

html.darkonlight div.article_body div.container_svg {
  background-color: var(--colour-white);
}
