div#id_404_svg_container {
  width: 80vw;
}

div#id_404_svg_container svg {
  width: 100%;
  height: 100%;
}

html.lightondark div#id_404_svg_container svg #id_rect_bg {
  fill: var(--darkmode-colour-red-lite-alt);
}

html.darkonlight div#id_404_svg_container svg #id_rect_bg {
  fill: var(--colour-white);
}
