/* for block of numbers */
.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: center;
    /*color: #cccccc;*/
    /*border-right: 2px solid var(--lightmode-colour-green-rich);*/
    vertical-align: top;

    /* your custom style here */
}

.hljs-ln td.hljs-ln-numbers {
    text-align: right;
    padding-left: 0.25rem;
    padding-right: 0.15rem;
    width: 1.5rem;
    color: var(--colour-gray);
    border-right: 1px solid var(--colour-white);
}

.hljs-ln td.hljs-ln-code {
    text-align: left;
    padding-left: 10px;
    width: auto;
}

table.hljs-ln tbody > tr:nth-child(1n),
table.hljs-ln tbody > tr:nth-child(2n) {
    background-color: transparent !important;
}

pre {
    margin-left: -15%;
    width: 130%;
    box-shadow: 0px 4px 10px 0px var(--colour-black);
}