/* for block of numbers */
.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    vertical-align: top;
}

.hljs-ln td.hljs-ln-numbers {
    text-align: right;
    padding-left: 0.25rem;
    padding-right: 0.15rem;
    width: 1.5rem;
}

.hljs-ln td.hljs-ln-code {
    text-align: left;
    padding-left: 10px;
    width: auto;
}

table.hljs-ln tbody > tr:nth-child(1n),
table.hljs-ln tbody > tr:nth-child(2n) {
    background-color: transparent !important;
}

pre {
    margin-left: -15%;
    width: 130%;
}