html.darkonlight code {
  color: var(--lightmode-colour-teal-dark);
}

html.darkonlight .hljs-built_in,
html.darkonlight .hljs-selector-tag,
html.darkonlight .hljs-section,
html.darkonlight .hljs-link {
  color: var(--lightmode-colour-blue-light);
}

html.darkonlight .hljs-keyword {
  color: var(--lightmode-colour-pink);
}

html.darkonlight .hljs,
html.darkonlight .hljs-subst {
  color: var(--lightmode-colour-yellow-pale);
  background-color: var(--lightmode-colour-yellow-pale-alt);
}

html.darkonlight .hljs-title {
  color: var(--lightmode-colour-green-rich);
}

html.darkonlight .hljs-string,
html.darkonlight .hljs-meta,
html.darkonlight .hljs-name,
html.darkonlight .hljs-type,
html.darkonlight .hljs-attr,
html.darkonlight .hljs-symbol,
html.darkonlight .hljs-bullet,
html.darkonlight .hljs-addition,
html.darkonlight .hljs-variable,
html.darkonlight .hljs-template-tag,
html.darkonlight .hljs-template-variable {
  color: var(--lightmode-colour-brown);
}

html.darkonlight .hljs-comment,
html.darkonlight .hljs-quote,
html.darkonlight .hljs-deletion {
  color: var(--lightmode-colour-green-lite-alt);
}

html.darkonlight .hljs-literal,
html.darkonlight .hljs-number {
  color: var(--lightmode-colour-pink-dark);
}

.hljs-ln td.hljs-ln-numbers {
  color: var(--colour-gray);
  border-right: 1px solid var(--colour-white);
}
