p code {
  color: var(--darkmode-colour-green-pale);
}

pre {
  border-radius: 10px;
  box-shadow: 0px 4px 10px var(--colour-black);
  margin-bottom: calc(1rem + 5px);
}

pre code .hljs-ln {
  color: var(--darkmode-colour-yellow-pale-pale);
}

.hljs-built_in,
.hljs-selector-tag,
.hljs-section,
.hljs-link {
  color: #8be9fd;
}

.hljs-keyword {
  color: var(--darkmode-colour-green-pale);
}

.hljs,
.hljs-subst {
  color: var(--darkmode-colour-yellow-pale);
  background-color: var(--darkmode-colour-green-dark-dark);
}

.hljs-title {
  color: var(--darkmode-colour-blue-green-pale-pale);
}

.hljs-string,
.hljs-meta,
.hljs-name,
.hljs-type,
.hljs-attr,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: var(--darkmode-colour-green-pale);
}

.hljs-comment,
.hljs-quote,
.hljs-deletion {
  color: var(--darkmode-colour-blue-dark-pale);
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
  font-weight: bold;
}

.hljs-literal,
.hljs-number {
  color: var(--darkmode-colour-pink-pale);
}

.hljs-ln td.hljs-ln-numbers {
  color: var(--colour-gray-transparent);
  border-right: 1px solid var(--colour-gray-transparent);
}
