/* FONTS          */
:root {
  --dark-bg-colour: #480505;
  --dark-bg-colour-alt: #397874;
  --light-bg-colour: #F5F4B0;
  --light-bg-colour-alt: #A1C398;
};

@font-face {
  font-family: "Agean";
  src: url("/fonts/Aegean.ttf");
}
/* ------------- */


/* PAGE: PRIMITIVES */
html {
  background-size: 300px 300px;
  background-repeat: repeat;
}

body {
  text-align: center;
  background-color: transparent;
}

body header nav {
  font-family: "Aegean";
  font-size: 125%;
}

body main {
  /*width: 62.5%;*/
  margin-left: auto;
  margin-right: auto;
}

body main p {
  text-align: justify;
}

body main ul,
body main table {
  text-align: left;
}
/* ------------- */


/* THEME: COMMON */
.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20vw;
  display: none;
}

.back-to-top svg {
  width: 40px;
  height: 40px;
}

body nav.bg-dark svg,
body nav a.dropdown-item svg {
  vertical-align: middle;
  margin-right: 0.25rem;
}

body nav div.dropdown-menu a.dropdown-item svg {
  vertical-align: middle;
}

body div.card {
  margin-left: auto;
  margin-right: auto;
}

div.card.alert {
  font-size: 85%;
  border: none;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 1rem;
  margin-right: 1rem;
}

body nav .btn-outline-success {
  color: #FFFFFF;
  border-color: #FFFFFF;
}

body div.card .btn-outline-danger,
body div.card .btn-outline-success,
body div.card .btn-outline-primary {
  color: #FFFFFF;
  border-color: #FFFFFF;
}
/* ------------ */


/* THEME: DARK ON LIGHT */
html.darkonlight {
  background-image: url("/img/plants_pineapple_00_plain.svg");
}

body.darkonlight {
  color: #274532;
}

body.darkonlight nav.navbar-light,
body.darkonlight nav.bg-light li.nav-item a.nav-link,
body.darkonlight nav div.dropdown-menu,
body.darkonlight nav a.dropdown-item {
  color: #274532;
}

body.darkonlight nav a.dropdown-item.disabled {
  color: #91B378;
}

body.darkonlight nav div.dropdown-menu {
  background-color: #F5F4B0;
}

body.darkonlight nav.bg-light svg,
body.darkonlight nav a.dropdown-item svg {
  color: #274532;
  stroke: #274532;
}

body.darkonlight nav div.dropdown-menu a.dropdown-item.disabled svg {
  color: #91B378;
  stroke: #91B378;
}

body.darkonlight nav.bg-light {
  background-color: #F5F4B0!important;
}

body.darkonlight nav li.nav-item:hover {
  background-color: #A1C398;
}

body.darkonlight nav div.dropdown-menu a:hover {
  background-color: #A1C398;
}

body.darkonlight div.card {
  background-color: #F5F4B0;
}

body.darkonlight div.card.alert.alert-success {
  background-color: #69B884;
}

body.darkonlight div.card.alert.alert-warning {
  color: #A6511C;
  background-color: #FA9966;
}

body.darkonlight main table {
  color: #274532;
}

body.darkonlight main table thead tr {
  color: #F5F4B0;
  background-color: #274532;
}


body.darkonlight main table tbody > tr:nth-child(2n) {
  background-color: #B1D3B8;
}
/* ------------------- */


/* THEME: LIGHT ON DARK */
html.lightondark {
  background-image: url("/img/plants_palm-leaf_00.png");
}

body.lightondark,
body.lightondark nav.navbar-dark,
body.lightondark nav.bg-dark li.nav-item a.nav-link,
body.lightondark nav div.dropdown-menu,
body.lightondark nav a.dropdown-item {
  color: #F5DEC0;
}

body.lightondark a {
  color: #FCFC3E;
}

body.lightondark nav.bg-dark {
  background-color: #480505!important;
}

body.lightondark nav li.nav-item:hover {
  background-color: #804A40;
}

body.lightondark nav a.dropdown-item.disabled {
  color: #91B378;
}

body.lightondark nav div.dropdown-menu {
  background-color: #480505;
}

body.lightondark nav div.dropdown-menu a:hover {
  background-color: #804A40;
}

body.lightondark nav.bg-dark svg,
body.lightondark nav a.dropdown-item svg {
  color: #F5DEC0;
  stroke: #F5DEC0;
}

body.lightondark nav div.dropdown-menu a.dropdown-item.disabled svg {
  color: #91B378;
  stroke: #91B378;
}

body.lightondark div.card {
  background-color: #801A10;
}

body.lightondark main div.card select {
  color: #F5DEC0;
  background-color: #480505;
}

body.lightondark div.card.alert.alert-success {
  color: #91E398;
  background-color: #397874;
}

body.lightondark div.card.alert.alert-warning {
  color: #F6C1FC;
  background-color: #480505;
}

body.lightondark nav input[type=search] {
  color: #F5DEC0;
  background-color: #801A10;
}

body.lightondark main table {
  color: #91B378;
}

body.lightondark main table thead tr {
  color: #91B378;
  background-color: #236682;
}


body.lightondark main table tbody > tr:nth-child(2n) {
  background-color: #4F4F4F;
}
/* ------------------- */