:root {
  --dark-bg-colour: #480505;
  --dark-bg-colour-alt: #397874;
  --light-bg-colour: #F5F4B0;
  --light-bg-colour-alt: #A1C398;
}

@font-face {
  font-family: "Aegean-Regular";
  src: url("/fonts/Aegean.ttf") format("truetype");
  font-display: block;
}

html {
  background-size: 300px 300px;
  background-repeat: repeat;
}

body {
  text-align: center;
  background-color: transparent;
}

body header nav {
  font-family: "Aegean-Regular";
  font-size: 125%;
}

body main {
  /*width: 62.5%;*/
  margin-left: auto;
  margin-right: auto;
}

body main p {
  text-align: justify;
}

body main ul,
body main table {
  text-align: left;
}

body footer {
  background-color: transparent;
  position: fixed;
  bottom: 2vw;
  right: 2vw;
  text-align: right;
  display: block;
}

body footer a.footer_btn {
  color: #000000;
  display: block;
}

div.dropdown-menu {
  left: -10%;
}

.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20vw;
  display: none;
}

.back-to-top svg {
  width: 40px;
  height: 40px;
}

body nav.bg-dark svg,
body nav a.dropdown-item svg {
  vertical-align: middle;
  margin-right: 0.25rem;
}

body nav div.dropdown-menu a.dropdown-item svg {
  vertical-align: middle;
}

body div.card {
  margin-left: auto;
  margin-right: auto;
}

div.card.alert {
  font-size: 85%;
  border: none;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 1rem;
  margin-right: 1rem;
}

body nav .btn-outline-success {
  color: #FFFFFF;
  border-color: #FFFFFF;
}

body div.card .btn-outline-danger,
body div.card .btn-outline-success,
body div.card .btn-outline-primary {
  color: #FFFFFF;
  border-color: #FFFFFF;
}
