div#id_photo_carousel {
  background-color: var(--lightmode-colour-green-rich);
}

div.carousel-caption {
  color: var(--lightmode-colour-green-dark);
  background-color: var(--lightmode-colour-green-rich);
  box-shadow: 0rem 0rem 1rem var(--colour-gray-transparent);
}

div.carousel-caption h5,
div.carousel-caption p {
  text-shadow: 0.15rem 0.15rem var(--colour-gray-transparent);
}
