div#hover_title {
  visibility: hidden;
  position: absolute;
  padding: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

h4.card-subtitle {
  font-size: 0.85rem;
  font-style: italic;
}

div.job-container div.card-body div.card {
  border-radius: 15px 15px 15px 15px;
}

div.job-container div.card-body div.card.header-card {
  border-radius: 5px 5px 5px 5px;
}

#timeline_wide_container {
  width: 95vw;
}

#timeline_wide_container svg {
  width: 100%;
  height: 100%;
  border-radius: 1vw 1vw 1vw 1vw;
}

#timeline_wide_container svg g#layer1 path:hover,
#timeline_wide_container svg g#layer1 rect:hover {
  cursor: pointer;
}


@media (min-width: 0px)
{
  h3.card-title {
    font-size: 5vw;
  }

  div.job-container ul > li {
    margin-bottom: 2vw;
  }

  div.job-container ul > li > ul {
    margin-top: 0.25vw;
  }

  div.job-container ul > li > ul > li {
    margin-bottom: 0vw;
  }
}


@media (min-width: 576px)
{
  h3.card-title {
    font-size: 2rem;
  }
}


@media (min-width: 768px) 
{
  h3.card-title {
    font-size: 2rem;
  }
}


@media (min-width: 992px)
{
  .job-container {
    max-width: 800px;
  }

  h3.card-title {
    font-size: 2rem;
  }
}


@media (min-width: 1200px)
{
  h3.card-title {
    font-size: 2rem;
  }
}
