@font-face {
  font-family: "Bungee Shade";
  src: url("/fonts/Bungee_Shade/BungeeShade-Regular.ttf");
}

@font-face {
  font-family: "Fredericka the Great";
  src: url("/fonts/Fredericka_the_Great/FrederickatheGreat-Regular.ttf");
}

@font-face {
  font-family: "Fredoka One";
  src: url("/fonts/Fredoka_One/FredokaOne-Regular.ttf");
}

@font-face {
  font-family: "Love Ya Like A Sister";
  src: url("/fonts/Love_Ya_Like_A_Sister/LoveYaLikeASister-Regular.ttf");
}

@font-face {
  font-family: "Patrick Hand";
  src: url("/fonts/Patrick_Hand/PatrickHand-Regular.ttf");
}

:root {
  --var-font-block: "Bungee Shade", sans-serif;
  --var-font-common: "Fredoka One", sans-serif;
  --var-font-special: "Fredericka the Great", sans-serif;
  --var-font-text-serif: "Love Ya Like A Sister", sans-serif;
  --var-font-text: "Patrick Hand", sans-serif;

  --var-colour-blk-brdr: coral;
  --var-colour-blk-shdw: gray;
  --var-colour-blk-bvl-lt: white;
  --var-colour-blk-bvl-dk: lightgray;
  --var-colour-blk-bg: lavender;
  --var-colour-blk-bg-hvr: lightblue;
  --var-colour-blk-txt: darkseagreen;
  --var-colour-blk-txt-shdw: darkolivegreen;
}

h1.h1_me {
  font-family: var(--var-font-text-serif);
}

p {
  font-family: sans-serif;
  font-family: var(--var-font-text);
}

html {
  background-image: url("/images/frond-palm-04.svg");
  background-size: 300px 300px;
  background-repeat: repeat;
}

body {
  text-align: center;
  vertical-align: middle;
  margin-top: 0.25vw;
  margin-right: auto;
  margin-bottom: 0.35vw;
  margin-left: auto;
  width: 70vw;
  background-color: navajowhite;
}

header {
  text-align: center;
  vertical-align: middle;
  margin-top: 0.25vw;
  margin-right: auto;
  margin-bottom: 0.35vw;
  margin-left: auto;
  width: 70%;
  font-size: 1.0vw;
}

header div.title_container {
  text-align: center;
  vertical-align: middle;
  margin-top: 0.25vw;
  margin-right: auto;
  margin-bottom: 0.35vw;
  margin-left: auto;
}

header div.title_container h1,
header div.title_container h2 {
  display: inline-block;
  margin-top: 0.10vw;
  margin-bottom: 0.10vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

header div.title_container h1.h1_special {
  font-family: var(--var-font-special);
  color: crimson;
  font-size: 3rem;
}

header div.title_container h1.h1_common {
  font-family: var(--var-font-common);
  color: cadetblue;
  font-size: 2.25rem;
}

header div.title_container#div_me a {
  text-decoration: none;
  color: orange;
}

header div.title_container#div_me a:visited h1 {
  color: coral;
  opacity: 0.7;
}

header div.title_container#div_me a:hover h1 {
  color: darkorchid;
  opacity: 1.0;
}

header div.title_container#div_me a h1 {
  font-family: var(--var-font-block);
  font-size: 2rem;
}

header p {
  font-family: var(--var-font-text);
  color: crimson;
  text-shadow: 2px 1px 3px lightgray;
  font-size: 1rem;
  text-align: justify;
  line-height: 1.65;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

header p tt {
  font-size: 0.8rem;
}

main {
}

main div.link_block {
  width: 20vw;
  padding-top: 1vw;
  padding-right: 1vw;
  padding-bottom: 1vw;
  padding-left: 1vw;
  background-color: var(--var-colour-blk-bg);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid var(--var-colour-blk-brdr);
  border-top-right-radius: 1vw;
  border-bottom-right-radius: 1vw;
  border-bottom-left-radius: 1vw;
  border-top-left-radius: 1vw;
  box-shadow: -5px 5px 3px 1px var(--var-colour-blk-shdw),
    2px -2px 3px 1px lightgray inset,
    -2px 2px 3px 1px white inset;
}

main div.link_block:hover {
  box-shadow: -2px 2px 3px 5px var(--var-colour-blk-shdw) inset;
  background-color: var(--var-colour-blk-bg-hvr);
}

main div.link_block a {
  text-decoration: none;
  color: var(--var-colour-blk-txt);
  text-shadow: -1px 1px 0px var(--var-colour-blk-txt-shdw);
}

main div.link_block:hover a {
  color: var(--var-colour-blk-txt);
  text-shadow: -2px 2px 1px var(--var-colour-blk-txt-shdw);
}

main div.link_block a h1 {
  font-size: 2.25vw;
}

main div.link_block a p,
main div.link_block:hover a p {
  font-size: 1.15vw;
  color: var(--var-colour-blk-txt-shdw);
  text-shadow: none;
}

main article {
}

main article header {
}

main article header h1 {
  font-family: var(--var-font-common);
  color: cadetblue;
  font-size: 2.25rem;
  font-weight: 400;
}

main article div.article_body {
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

main article header h1:hover {
  color: coral;
  cursor: row-resize;
}

main article div.article_body p {
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  line-height: 2.00;
  letter-spacing: 2px;
  font-family: var(--var-font-text);
  color: seagreen;
  width: 80%;
}

code.hljs {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 100%;
}

div.article_body table.tb_data_maths {
  margin-left: auto;
  margin-right: auto;
  color: seagreen;
  font-family: var(--var-font-text);
  font-size: 120%;
}

div.article_body table.tb_data_maths tr td,
div.article_body table.tb_data_maths tr th {
  text-align: center;
  font-family: monospace;
  padding-left: 1vw;
  padding-right: 1vw;
}

div.article_body table.tb_data_maths tr:nth-child(even) td {
  background-color: mistyrose;
}

div.article_body table.tb_data_maths tr:nth-child(odd) td {
  background-color: moccasin; 
}

div.article_body table.tb_data_maths tr th:first-child,
div.article_body table.tb_data_maths tr td:first-child {
  text-align: right;
}

div.article_body table.tb_data_maths caption {
  white-space: nowrap;
  overflow-x: visible;
  font-size: 80%;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
}

div.article_body table.tb_data_maths caption:before {
  content: "Table: ";
  font-weight: bold;
}

div.article_body table.tb_data_maths caption a {
  color: rebeccapurple;
}

div.article_body table.tb_data_maths caption a:visited {
  color: salmon;
}

mjx-container {
  color: seagreen;
}