<nav class="navbar navbar-expand-lg {{navbar_class}}">
  <a class="navbar-brand" href="/">
    {{{icon_home}}} 
    tommypkeane.com
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/resume">
          {{{icon_cv_resume}}}
          CV
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{{icon_projects_hw}}}
          HARDWARE
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/projects/hw/pinephone">
            {{{icon_raspberrypi}}}
            Raspberry Pi (SBC)
          </a>
          <a class="dropdown-item" href="/projects/hw/pinephone">
            {{{icon_odroid}}}
            ODroid (SBC)
          </a>
          <a class="dropdown-item" href="/projects/hw/pinetime">
            {{{icon_pinetime}}}
            PineTime (Pine64)
          </a>
          <a class="dropdown-item" href="/projects/hw/pinephone">
            {{{icon_pinephone}}}
            PinePhone (Pine64)
          </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{{icon_projects_sw}}}
          SOFTWARE
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/projects/sw/cellularautomata">
            {{{icon_raspberrypi}}}
            Cellular Automata
          </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="/photography">
          {{{icon_photography}}}
          PHOTGRAPHY
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="/publications">
          {{{icon_publications}}}
          PUBLICATIONS
        </a>
      </li>
    </ul>
    <ul class="navbar-nav mr-sm-2">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{{icon_other_sites}}}
          OTHER SITES
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://www.github.com/tommypkeane">
            {{{icon_github}}}
            GitHub
          </a>
          <a class="dropdown-item" href="https://www.bitbucket.com/tommypkeane">
            {{{icon_bitbucket}}}
            Bitbucket
          </a>
          <a class="dropdown-item" href="https://www.scopus.com/authid/detail.uri?authorId=37066246200">
            {{{icon_google_scholar}}}
            Scopus (Elsevier)
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item disabled" href="#">
            {{{icon_linkedin}}}
            LinkedIn (No Account)
          </a>
          <a class="dropdown-item disabled" href="#">
            {{{icon_twitter}}}
            Twitter (No Account)
          </a>
          <a class="dropdown-item disabled" href="#">
            {{{icon_facebook}}}
            Facebook (No Account)
          </a>
          <a class="dropdown-item disabled" href="#">
            {{{icon_instagram}}}
            Instagram (No Account)
          </a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/settings">
          {{{icon_settings}}}
          SETTINGS
        </a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>
