<div id="job_assistant_research" class="container-fluid mt-3 job-container">
  <div class="billet-body">
    <div class="billet mt-3 header-billet">
      <div class="billet-body">
        <h3 class="billet-title">Graduate Research Assistant</h3>
        <h4 class="billet-subtitle mt-1">Rochester Institute of Technology</h4>
        <h4 class="billet-subtitle mt-2">Rochester, NY (USA)</h4>
      </div>
    </div>
    <div class="billet mt-3">
      <div class="billet-body">
        <h5 style="text-align: left;">Professional Experience</h5>
        <ul>
          <li><b>Year(s):</b> September 2011 through April 2015 (4.5 years)</li>
          <li><b>Role(s):</b> Graduate (Ph.D.) Research Assistant</li>
          <li><b>Promotion(s):</b>
            <ul>
              <li>Ph.D. Candidate (Imaging Science)</li>
              <li>Graduate Research Assistant (Imaging Science)</li>
              <li>Graduate Research Assistant (Computer Engineering)</li>
              <li>Graduate Teaching Assitant (Electrical Engineering)</li>
              <li>M.Sc. Student (Electrical Engineering)</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="billet mt-3">
      <div class="billet-body">
        <h5 style="text-align: left;">Teaching</h5>
        <ul>
          <li>Created 5-day Undergrad/Graduate short-course on Python, MATLAB, and LaTeX programming.</li>
          <li>Guest-Lecturer for Graduate Imaging Science class to introduce Feature Detection algorithms.</li>
          <li>Software Development mentor to Graduate Students and Professors in Imaging Science department.</li>
        </ul>
      </div>
    </div>
    <div class="billet mt-3">
      <div class="billet-body">
        <h5 style="text-align: left;">Research Project</h5>
        <ul>
          <li>In September of 2011, I joined the RIT-UofR joint research project for Mobile Eye-Tracking: <a href="http://geovis.cis.rit.edu/">An Active Vision Approach to Understanding and Improving Visual Training in the Geosciences</a> [external site].</li>
          <li>Originally, I was in an independent research role investigating the feasibility of automated or semi-automated 3D scene reconstruction to integrate the Mobile Eye-Tracking data that was being captured in yearly Geoscience field-trips to California.</li>
          <li>I participated in 2 of the field-trips and took on a major role in the data-wrangling as part of the multi-modal statistical analyses and 3D scene-reconstruction.</li>
          <li>I developed several software utilities in progress towards feature and region-of-interest labelling of the video and image data.</li>
          <li>I also produced a small handful of conference publications and presentations (see my Ph.D. Student role details).</li>
          <li>I also developed and clarified nomenclature relating to interdisciplinary publications around Recurrence Analysis and Recurrence Quantification Analysis in a couple of those publications.</li>
          <li>Lastly, I was in the process of completing a Geometric Algebra representation of multi-camera Projective Algebra and Image Transformations using blades (instead of tensors) for video-based Eye-Tracking -- though, I was not able to publish anything on this topic before the end of my Research Assistantship.</li>
        </ul>
      </div>
    </div>
    <div class="billet mt-3">
      <div class="billet-body">
        <h5 style="text-align: left;">Reason(s) for Leaving</h5>
        <p>I was funded for an R&D role in a large-scale, multi-disciplinary Research Grant given to RIT and the University of Rochester. This provided my stipend (research-funding) as a Ph.D. Student through to April 2015. I had successfully passed the Ph.D. Comprehensive Exam in 2011 and then defended my Ph.D. Thesis Proposal in 2014, becoming a Ph.D. Candidate.</p>
        <p>Unfortunately, in April of 2015, the project funding was no longer available for my R&D stipend, so I sought-out and accepted a full-time position as a Software Engineer for a VSAT Systems-Integration company in June of 2015.</p>
        <p>I continued the research on nights and weekends, as a Ph.D. candidate, while working full-time as a SATCOM Software Engineer during the work-week.</p>
        <p>In February of 2018, I conceded that I was unable to complete the dissertation requirements within the 7-year program limits (ending in April of 2018), so I withdrew my Ph.D. Candidacy and left the doctoral program. I had not finished my dissertation at that time, but I had developed 8 years of independent research, Data Science, Machine Learning, Mathematical Modelling, tutoring, and computer-programming experience.</p>
      </div>
    </div>
  </div>
</div>
