<div id="job_grocery" class="container-fluid mt-3 job-container">
  <div class="billet-body">
    <div class="billet mt-3 header-billet">
      <div class="billet-body">
      	<h3 class="billet-title">Grocery Cashier</h3>
      </div>
    </div>
    <div class="billet mt-3">
      <div class="billet-body">
        <h5 style="text-align: left;">Professional Experience</h5>
        <ul>
          <li><b>Month(s):</b> August 2003 through October 2003 (3 months)</li>
          <li><b>Role(s):</b>
            <ul>
              <li>Cashier</li>
              <li>Bagger</li>
              <li>Cart Wrangler</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
