<div id="job_student_hs" class="container-fluid mt-3 job-container">
  <div class="billet-body">
    <div class="billet mt-3 header-billet">
      <div class="billet-body">
        <h3 class="billet-title">High School Student</h3>
      </div>
    </div>
    <div class="billet mt-3">
      <div class="billet-body">
        <h5 style="text-align: left;">AP Courses</h5>
        <ul>
          <li>AP Calculus AB</li>
          <li>AP Physics</li>
          <li>AP French</li>
          <li>AP English</li>
          <li>AP Chemistry</li>
        </ul>
      </div>
    </div>
  </div>
</div>
