<div id="job_student_bsc" class="container-fluid mt-3 job-container">
  <div class="billet-body">
    <div class="billet mt-3 header-billet">
      <div class="billet-body">
        <h3 class="billet-title">B.Sc. Electrical Engineering</h3>
        <h4 class="billet-subtitle mt-1">Rochester Institute of Technology</h4>
        <h4 class="billet-subtitle mt-2">Rochester, NY (USA)</h4>
      </div>
    </div>
    <div class="artdeco mt-3">
      <div class="billet-body">
        <h5 style="text-align: left;">Undergraduate Course Topics</h5>
        <ul>
          <li>Computer Engineering
            <ul>
              <li>Digital Logic</li>
              <li>Digital Data Communications</li>
              <li>Assembly Programming-Language</li>
              <li>C Programming-Language</li>
              <li>C++ Programming-Language</li>
              <li>RISC Architecture</li>
              <li>Microprocessor Programming</li>
            </ul>
          </li>
          <li>Physics
            <ul>
              <li>Semiconductor Physics courses</li>
              <li>Nanotechnology</li>
              <li>Electromagnetic Theory</li>
            </ul>
          </li>
          <li>Electronic Systems
            <ul>
              <li>DC Circuit Theory</li>
              <li>AC Circuit Theory</li>
              <li>Control Theory</li>
              <li>Digital Signal Processing</li>
              <li>Digital Electronics</li>
            </ul>
          </li>
          <li>Mathematics
            <ul>
              <li>Differential Equations</li>
              <li>Laplace Transform Theory</li>
              <li>Fourier Transform Theory</li>
              <li>Multidimensional Calculus</li>
              <li>Complex Calculus (Imaginary Numbers)</li>
              <li>Statistics</li>
            </ul>
          </li>
        </ul>
        <p style="font-style: italic;">I was accepted into the dual-degree B.Sc. and M.Sc. program in March of 2006. Due to the stipulations of the dual-degree program, my B.Sc. degree was not awarded until my M.Sc. thesis was successfully defended and approved for publication in June of 2011, as the timeline diagram indicates. I received both degrees at the same time, which happened to be after my first year in the Ph.D. program.</p>
      </div>
    </div>
    <div class="billet mt-3">
      <div class="billet-body">
        <h5 style="text-align: left;">Senior (Capstone) Team-Project</h5>
        <ul>
          <li>As a multidisciplinary engineering team we developed an Air-Muscle-powered Artificial (oversized) Hand prototype.</li>
          <li>We designed and optimized air-valves controlled through a LabVIEW-managed DAQ to actuate surgical tubing wrapped in compressable mesh sheathing.</li>
          <li>I helped apply my Control Theory and Signal Processing experience to the muscle actuation software development in LabVIEW.</li>
          <li><a href="http://edge.rit.edu/edge/P09023/public/Home">Project Website (RIT P09023)</a> (External, hosted by RIT)</li>
        </ul>
      </div>
    </div>
  </div>
</div>
