<div id="job_software_engineer_bi" class="container-fluid mt-3 job-container">
  <div class="card-body">
    <div class="card mt-3 header-card">
      <div class="card-body">
        <h3 class="card-title">Data Scientist and Full-Stack Engineer</h3>
        <h4 class="card-subtitle">Business Intelligence Startup</h4>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-body">
        <h5 style="text-align: left;">Professional Experience</h5>
        <ul>
          <li><b>Year(s):</b> May 2019 through April 2020 (1 year)</li>
          <li><b>Role(s):</b>
            <ul>
              <li>Jan. 2020 upto Apr. 2020:
                <ul>
                  <li>Machine Learning Engineer</li>
                  <li>DevOps Engineer</li>
                  <li>Full-Stack Software Engineer</li>
                  <li>OnCall Engineer</li>
                </ul>
              </li>
              <li>Aug. 2019 thru Jan. 2020:
                <ul>
                  <li>Data Scientist</li>
                  <li>Data Engineer</li>
                  <li>Full-Stack Software Engineer</li>
                </ul>
              </li>
              <li>May. 2019 thru Jul. 2019:
                <ul>
                  <li>Full-Stack Software Engineer</li>
                  <li>(React.js Front-End)</li>
                  <li>(Python and SQL Back-End)</li>
                </ul>
              </li>
            </ul>
          </li>
          <li><b>Working Environment:</b>
            <ul>
              <li>Open-Office Partial Cubicles</li>
              <li>Remote Work (15-40% of time)</li>
            </ul>
          </li>
          <li><b>Promotion(s):</b> None</li>
          <li><b>Award(s):</b> None</li>
        </ul>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-body">
        <h5 style="text-align: left;">Technology "Stack"</h5>
        <ul>
          <li>Jira, Trello, and Pivotal for Project Management.</li>
          <li>
            AWS Cloud Services:
            <ul>
              <li>Lambda</li>
              <li>ElasticSearch</li>
              <li>Redshift</li>
              <li>S3 Buckets</li>
              <li>DynamoDB</li>
              <li>IAM Roles</li>
              <li>StepFunctions</li>
              <li>CloudFormation (SparkleFormation)</li>
            </ul>
          </li>
          <li>SQL query design and maintenance:
            <ul>
              <li>PostgreSQL</li>
              <li>MySQL</li>
              <li>SQLite</li>
            </ul>
          </li>
          <li>Python flask APIs serverside, React.js clientside, and Material Design UI.</li>
          <li>Parquet Files, Docker containers, Python applications, AWS StepFunctions, and Mustache template files for custom Machine Learning.</li>
          <li>bash scripting and vim for Linux VPS systems and cross-platform Docker containers.</li>
          <li>VS Code, Sublime Text, Sublime Merge, and git for development and version control.</li>
          <li>Authentication Management with AWS Cognito, IAM roles, and JSON Web Tokens (JWT).</li>
          <li>curl, SSH, and postman.com for HTTP requests and session tunneling.</li>
          <li>Python machine learning with scikit-learn, scipy, numpy, kdepy, and pandas.</li>
          <li>Multiple custom Extract-Transform-Load (ETL) data management pipelines.</li>
        </ul>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-body">
        <h5 style="text-align: left;">Projects and Daily Work</h5>
        <p>Machine Learning, DevOps, and Full-Stack Software Engineering for AWS-based Business-Intelligence (SaaS) applications. Scrum (Agile) development environment with 2-5 person teams using Jira, Confluence, and Trello. Some mentorship of co-op student employees.</p>
        <p>Throughout 2019 and 2020, I provided Data Scientist, Data Engineer, and Software Engineering roles for new, in-house Machine Learning utilities, features, and analytics for a Sales Enablement and RevOps Software Suite.</p>
        <p>I used SQL, Docker, and Python (pandas, scikit-learn) Machine Learning stack for Regression-based and Ensemble Classifiers for Predictive Business Intelligence (BI) and Revenue Analytics.</p>
        <p>(Full-Stack) Front-End: Custom Development of ReactJS Hooks, Contexts, and Functional Components for a Material UI application.</p>
        <p>(Full-Stack) Back-End: AWS Lambda Serverless stack and Docker w/ ElasticSearch. Writing and maintaining APIs for SQL (MySQL, SQLite, PostgreSQL) querying and manipulation of hundreds of back-end client datasets.</p>
        <p>Consistent advocacy for Documentation in LaTeX technical reports, Confluence Wiki sites, GitHub pull-requests, Markdown READMEs, Code docstrings, and Jira task management.</p>
        <p>Designing and troubleshooting Unit and Implementation Tests in Python (PyTest) and JavaScript (Jest).</p>
        <p>Implementation-optimizations and analyses using the fbprophet (Facebook "Prophet") FFT-based Forecaster model, as well as XGBoost, pandas, scikit-learn, scipy, and numpy.</p>
        <p>There were extensive opportunities for applying my post-graduate academic experiences in my Data Scientist role, given my history of independent research and writing custom mathematical and scientific software. I had a lot of experience with developing in-house Python packages and end-to-end self-documenting Machine-Learning workflows.</p>
        <p>I guided the development, and provided vision, for a mathematically-transparent probabilistic model of metrics for predictive Sales-Forecasting. This novel development was done in parallel to existing product offerings, given the ongoing architectural design changes for supporting future platforms. By working towards separable and modular "service"-like ETL, Analysis, and Prediction stages, that was planned to be able to integrate with the in-development Sales Forecasting platform from the other Engineering scrum teams.</p>
        <p>In December of 2019, the Data Science (Machine Learning) R&D changed direction after a business merger. The custom ETL, Analysis, and Prediction workflow was set aside to focus efforts on supporting a newly acquired Application Platform using user-action app-data and AWS StepFunctions to run Logistic Regression classifiers for Sales-Opportunity Health-Scoring.</p>
        <p>In February 2020, I was assigned an expanded DevOps role on the new platform with a new cross-country (semi-remote) Scrum team. This role was in addition to continuing to develop new Machine Learning features and integrating Software Engineering best-practices. I lead the upgrade of the Software Development Lifecycle for the Machine Learning codebase, and introduced new a unit-testing framework to enhance coverage and extensibility for deployment of new algorithms.</p>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-body">
        <h5 style="text-align: left;">Reason for Leaving</h5>
        <p class="card-text">Due to the SARS-CoV-2 Pandemic, there was a Business Realignment in April 2020. There was a swath of layoffs, but I was one of two employees offered a Furlough due to my business contributions. Due to the uncertainty of the circumstances, I accepted a layoff offer through a Separation Agreement. My daily work involved ticket and pull-request updates multiple times a day with exstensive documentation, so when my access was revoked all my open pull-requests and tasks were already up-to-date.</p>
      </div>
    </div>
  </div>
</div>