<footer class="{{footer_class}}">
  <a id="id_settings_btn" class="btn btn-outline-success btn-lg footer_btn" role="button" title="Click for site settings" data-toggle="tooltip" data-placement="top" href="/settings">
  	{{{icon_settings}}}
  </a>
  <a id="id_contact_btn" class="btn btn-outline-success btn-lg footer_btn" role="button" title="Contact Info"data-placement="top" href="#">
    {{{icon_contact}}}
  </a>
  <div id="id_contact_overlay" class="modal"></div>
</footer>
