<footer class="{{footer_class}}">
  <button id="id_settings_btn" class="btn btn-outline-success btn-lg footer_btn" title="Click for site settings" data-toggle="modal" data-target="#id_settings_overlay">
  	{{{icon_settings}}}
  </button>
  <button id="id_contact_btn" class="btn btn-outline-success btn-lg footer_btn" title="Contact Info" data-toggle="modal" data-target="#id_contact_overlay">
    {{{icon_contact}}}
  </button>
</footer>
