<!doctype html>
<html lang="en-US" class="{{body_theme_class}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="icon" href="{{ico_png_file}}" type="image/png">
    <meta name="description" content="{{description}}">
    <meta name="author" content="{{author}}">
    {{#stylesheets}}
      <link rel="stylesheet" type="text/css" href="{{cssname}}">
    {{/stylesheets}}
  </head>
  <body class="{{body_theme_class}}">
    <div id="hover_title">No Selection</div>
    <header>
      {{> header_contents}}
    </header>
    <main class="mt-3 mb-5">
      <div id="intro_container" class="container-fluid w-75 page-intro">
        <div class="card mt-3 mb-3">
          <div class="card-body">
            <h3>Resum&eacute; / Curriculum Vit&aelig; (CV) / Employment History</h3>
            <p class="intro_par w-75" style="margin-left: auto; margin-right: auto;">Hiya!</p>
            <p class="intro_par w-75" style="margin-left: auto; margin-right: auto;">Welcome to the interactive professional and academic history of this, here, <b>tommy p. keane</b>.</p>
            <p class="intro_par w-75" style="margin-left: auto; margin-right: auto;">If you're looking for my actual PDF resum&eacute;, you can contact me per the info at the bottom of this page. All company and institution names have been redacted for privacy and de-affiliation reasons, except for the probably already public information that I attended the Rochester Institute of Technology (RIT). This site is not affiliated with any other organization, I'm just sharing my personal experiences.</p>
            <p class="intro_par w-50" style="margin-left: auto; margin-right: auto; font-style: italic;">Note: Most of my professional experiences were with teams or businesses, and even in graduate independent-research I had peers, friends, and professors for support. This content is written from only my personal point-of-view about my personal skillset and experiential history -- like a resum&eacute;. But, to be clear: many, many people who are not mentioned here have helped, taught, and supported me.</p>
            <p class="intro_par w-75" style="margin-left: auto; margin-right: auto;">To explore, just click the boxes on the timeline indicating each job or degree-program. On browsers with a mouse you can hover over each block to see its title.</p>
          </div>
          <a id="collapse-intro" href="#" class="btn btn-outline-success btn-lg" role="button" title="Click to collapse." data-toggle="tooltip" data-placement="bottom">{{{img_intro_collapse}}}</a>
          <a id="expand-intro" href="#" class="btn btn-outline-success btn-lg" role="button" title="Click to expand." data-toggle="tooltip" data-placement="bottom">{{{img_intro_expand}}}</a>
        </div>
      </div>
      <div id="timeline_wide_container" class="mt-4 container-fluid">
        {{{resume_cv_timeline}}}
      </div>
      {{> job_unemployment}}
      {{> job_software_engineer_businessintelligence}}
      {{> job_software_engineer_satcom}}
      {{> job_graduate_research_assistant}}
      {{> job_graduate_teaching_assistant}}
      {{> job_student_phd}}
      {{> job_coop_videosecurity}}
      {{> job_coop_weatherdata}}
      {{> job_student_msc}}
      {{> job_coop_touchscreen_repair}}
      {{> job_coop_network_technician}}
      {{> job_student_bsc}}
      {{> job_cashier_electronics}}
      {{> job_student_hs}}
      {{> job_cashier_grocery}}
      <a id="back-to-top" href="#" class="btn btn-outline-danger btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-trigger="hover focus" data-placement="left" data-html="true">{{{img_scroll_to_top}}}</a>
    </main>
    {{> footer_contents}}
    {{#scriptfiles}}
      <script type="text/javascript" src="{{scriptname}}"></script>
    {{/scriptfiles}}
  </body>
</html>