<!doctype html>
<html lang="en-US" class="{{body_theme_class}}">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <!--[if IE]><link rel="shortcut icon" href="{{ico_file}}" type="image/x-icon"><![endif]-->
    <link rel="icon" href="{{ico_png_file}}" type="image/png">
    <meta name="description" content="{{description}}">
    <meta name="author" content="{{author}}">
    {{#stylesheets}}
      <link rel="stylesheet" type="text/css" href="{{cssname}}">
    {{/stylesheets}}
  </head>
  <body class="{{body_theme_class}}">
    <header>
      {{> header_contents}}
    </header>
    <main class="">
      <div class="mt-4" style="height: 1px;"></div>
      <div class="container-fluid">
        <div class="row">
          <div class="card col-sm">
            <div class="card-body">
              <div class="row">
                <h1 class="card-title">Configuration Options</h1>
              </div>
              <div class="row">
                <div class="card w-50">
                  <div class="card-body">
                    <h5 class="card-title">Site Theme</h5>
                    <div class="form-group">
                      <label for="id_theme_choice">Choose a Theme</label>
                      <select name="theme" id="id_theme_choice" class="form-control">
                        <option value="light_on_dark">Light Text on Dark Background</option>
                        <option value="dark_on_light">Dark Text on Light Background</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-4" style="height: 1px;"></div>
      <div class="container-fluid">
        <div class="row">
          <div class="card col-sm">
            <div class="card-body">
              <div class="row">
                <h1 class="card-title">Notice</h1>
                <p>This website -- under the <tt>www</tt> subdomain (<tt>www.tommypkeane.com</tt>) -- does not use cookies unless you have manually chosen to set them, by clicking the button below. Per the EU's <a href="https://gdpr.eu/">GDPR</a>, it requires manual consent to store the cookies <i>via</i> your webbrowser by clicking the <b>Set Cookies</b> button. If you do not want cookies or if you want to revoke your consent to storing cookies, you can click the <b>Erase Cookies</b> button. The erase button will only remove the cookies that have been set by this site, under the <tt>www</tt> subdomain. Note that all HTTP request data, including headers (thus, "cookies"), are encrypted under HTTPS traffic. This site only supports HTTPS traffic, as a point of best-practice.</p>
              </div>
              <div class="row">
                <div class="card col-sm notice alert alert-success">
                  <div class="card-body">
                    <h5 class="card-title">Store Settings</h5>
                    <p class="card-text">By clicking the <b>Set Cookies</b> button you are consenting to let this site store the selected configuration options as "cookies" in your webbrowser. Cookie values will be sent in subsequent HTTP request headers, which you can inspect in your browser.</p>
                    <button id="id_button_set_cookies" type="button" class="btn {{btncls_cookies_store}}" onclick="cookie_submit();">
                      <span id="id_button_spin_set_cookies" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      Set Cookies
                    </button>
                  </div>
                </div>
                <div class="card col-sm notice alert alert-warning">
                  <div class="card-body">
                    <h5 class="card-title">Clear Settings</h5>
                    <p class="card-text">By clicking the <b>Erase Cookies</b> button you are consenting to let this site update the cookies to be null-valued and immediately expired. Only the cookies from this site will be affected. Expired cookies should be deleted by your browser automatically.</p>
                    <button id="id_button_erase_cookies" type="button" class="btn {{btncls_cookies_erase}}" onclick="cookie_erase();">
                      <span id="id_button_spin_erase_cookies" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      Erase Cookies
                    </button>
                  </div>
                </div>
              </div>
              <div class="row">
                <h1>Previously Stored Cookies</h1>
                <p>Note that this table won't change after you set or erase the cookies, so you will need to refresh this page if you want to see the latest values. As soon as you've clicked the buttons, though, the values will be changed in your webbrowser, but this table will be outdated. After a refresh, this table is up-to-date.</p>
                <table class="table {{table_class}}">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Key (Name)</th>
                      <th scope="col">Value</th>
                      <th scope="col">Lifetime [sec]</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#cookies}}
                    <tr>
                      <th scope="row">{{index}}</th>
                      <td>{{key}}</td>
                      <td>{{value}}</td>
                      <td>{{lifetime}}</td>
                    </tr>
                    {{/cookies}}
                  </tbody>
                </table>
                <p>If you would like to see more details about cookies, you can view them in your browser's developer tools. These links will send you to each browser's documentation on how to use their Developer Tools features.</p>
                <ul>
                  <li>How to view Cookies in <a href="https://docs.microsoft.com/en-us/microsoft-edge/devtools-guide-chromium/storage/cookies">Microsoft Edge</a>?</li>
                  <li>How to view Cookies in <a href="https://developers.google.com/web/tools/chrome-devtools/storage/cookies">Google Chrome (Chromium)</a>?</li>
                  <li>How to view Cookies in <a href="https://developer.mozilla.org/en-US/docs/Tools/Storage_Inspector">Mozilla Firefox</a>?</li>
                  <li>How to view Cookies in <a href="https://developer.apple.com/safari/tools/">Apple Safari</a>?</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </main>
    {{> footer_contents}}
    <a id="back-to-top" href="#" class="btn btn-outline-success btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-trigger="hover focus" data-placement="left" data-html="true">{{{img_scroll_to_top}}}</a>
    {{#scriptfiles}}
      <script type="text/javascript" src="{{scriptname}}"></script>
    {{/scriptfiles}}
  </body>
</html>
