<!doctype html>
<html lang="en-US" class="{{theme_class}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="icon" href="{{ico_ico_file}}" type="image/png">
    <link rel="icon" href="{{ico_png_file}}" type="image/png">
    <meta name="description" content="{{description}}">
    <meta name="author" content="{{author}}">
    {{#stylesheets}}
      <link rel="stylesheet" type="text/css" href="{{cssname}}">
    {{/stylesheets}}
  </head>
  <body>
    {{> header_contents}}
    <main>
      <div class="billet-grid">
        {{#articles}}
          <div class="billet inline centered">
            <div class="billet-header">
              <a class="" href="{{page_link}}">
                {{{img_src}}}
                <h3 class="billet-title">{{card_title}}</h3>
              </a>
              <p>{{{card_desc}}}</p>
            </div>
          </div>
        {{/articles}}
      </div>
    </main>
    {{> footer_contents}}
  </body>
</html>