<div id="job_networktech" class="container job-container">
  <div class="card-body">
    <div class="card mt-3 header-card">
      <div class="card-body">
        <h3 class="card-title">IT Network Technician (Co-Op)</h3>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-body">
        <h5 style="text-align: left;">Professional Experience:</h5>
        <ul>
          <li><b>Month(s):</b> June 2005 through October 2005 (4 months)</li>
          <li><b>Role(s):</b> OSI-Model Networking Technician (Co-Op)</li>
        </ul>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-body">
        <p>This was a Networking Technician (IT) role where I helped install and upgrade modems, routers, laptops, and desktop PCs for homes and businesses.</p>
        <p>When not working on-site supporting full-time Network Technicians or working independently, I helped digitize and develop Networking Diagrams by transcribing building plans into Microsoft Visio.</p>
        <p>The on-site work was mostly installing and upgrading equipment, running security audit tools, installing purchased software, and responding to client requests for PC customizations and configuration fixes.</p>
        <p>After the summer, I returned to college for my sophmore year, and I continued to work part-time updating and crafting some networking-diagrams for client offices.</p>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-body">
        <h5 style="text-align: left;">Reason(s) for Leaving</h5>
        <p>This was a temporary co-op position that extended part-time during the 2005 Fall Quarter of my B.Sc. Electrical Engineering program. My role ended when we mutually agreed that there wasn't much remote-work available and I didn't have the time or resources to spend school-breaks doing part-time work.</p>
      </div>
    </div>
  </div>
</div>
