<div id="job_electronics" class="container-fluid mt-3 job-container">
    <div class="card-body">
    <div class="card header-card">
      <div class="card-body">
        <h3 class="card-title">Electronics Store Cashier</h3>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-body">
        <h5 style="text-align: left;">Professional Experience</h5>
        <ul>
          <li><b>Month(s):</b> May 2004 through August 2004 (3 months)</li>
          <li><b>Role(s):</b>
            <ul>
              <li>Cashier</li>
              <li>Bagger</li>
              <li>Cart Wrangler</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
