<div id="job_assistant_teaching" class="container-fluid mt-3 job-container">
  <div class="card-body">
    <div class="card mt-3 header-card">
      <div class="card-body">
        <h3 class="card-title">Graduate Teaching Assistant</h3>
        <h4 class="card-subtitle mt-1">Rochester Institute of Technology</h4>
        <h4 class="card-subtitle mt-2">Rochester, NY (USA)</h4>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-body">
        <h5 style="text-align: left;">Professional Experience</h5>
        <ul>
          <li><b>Year(s):</b> April 2009 through August 2011 (15 months)</li>
          <li><b>Role(s):</b> Graduate Teaching Assistant</li>
          <li><b>Promotion(s):</b>
            <ul>
              <li>Graduate Research Assistant (Computer Engineering)</li>
              <li>Graduate Teaching Assitant (Electrical Engineering)</li>
              <li>M.Sc. Student (Electrical Engineering)</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-body">
        <h5 style="text-align: left;">Teaching Assistantship</h5>
        <ul>
          <li>Wrote and graded Graduate <abbr title="Digital Signal Processing">DSP</abbr> Course Quizzes.</li>
          <li>Helped grade Graduate <abbr title="Digital Signal Processing">DSP</abbr> exams.</li>
          <li>Graded and wrote detailed solutions for Graduate DSP Course homework assignments.</li>
          <li>Provided editing and code-listing verification for a new Linear Algebra textbook.</li>
          <li>Signal Processing, Linear Algebra, Computer Vision, and Machine Learning mentoring for students.</li>
        </ul>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-body">
        <h5 style="text-align: left;">Research Tasks</h5>
        <ul>
          <li>From September 2010 through May 2011 I was simultaneously writing my M.Sc. dissertation and taking courses for the Imaging Science Ph.D. program.</li>
          <li>In June 2011, I successfully defended and published my M.Sc. thesis.</li>
          <li>In the Summer of 2011 I worked as a Graduate Research Assistant in the Computer Engineering department with a new mentor on a new video-processing algorithm prototype.</li>
          <li>The prototype project was a proof-of-concept investigation with an Engineering team from the <abbr title="RIT's National Technical Institute for the Deaf">NTID</abbr>. My role was to provide guidance on camera geometry modelling and to attempt to apply a recently published bag-of-words Data Science algorithm to video-registration.</li>
          <li>This project was developed in C# with OpenCV. The goal was to attempt to de-warp a pair of cameras for making a "see-through whiteboard" with a pair of HD touchscreen monitors.</li>
        </ul>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-body">
        <h5 style="text-align: left;">Reason(s) for Leaving</h5>
        <p>In August of 2011, my mentor and I agreed that the bag-of-words algorithm of interest (based on the work of a previous student) was shown to be inapplicable to the problem at hand. My research that Summer had found that the data-domain in video-registration was mathematically ambiguous for the given algorithm. If I was going to continue on the project, the research would have had to drastically change directions. My advisor was mainly interested in building off of the previous research, so since this project wasn't applicable, my role ended.</p>
        <p>My mentor at the time, was then available to provide funding for my research in the Fall Semester of 2011, so I moved onto a different project in the Imaging Science department with new mentors, which continued for the rest of my Ph.D. research.</p>
        <p>This new role was as a Graduate Research Assistant in the Imaging Science department, and I was no longer a Teaching Assistant in the Electrical Engineering and Computer Engineering departments.</p>
      </div>
    </div>
  </div>
</div>
