<div id="job_student_phd" class="container mt-4 job-container">
  <div class="card-body">
    <div class="card mt-3 header-card">
      <div class="card-body">
        <h3 class="card-title">Ph.D. Candidate in Imaging Science</h3>
        <h4 class="card-subtitle">Rochester Institute of Technology</h4>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-body">
        <h5 style="text-align: left;">Award(s)</h5>
        <ul>
          <li>Best Student Paper Award at the 2012 IEEE Western New York Image Processing Workshop (WNYIPW).</li>
          <li>Paper Awarded the Brady Prize from an Essay Contest at the 2012 International Computer Vision Summer School (ICVSS) in Sicily, Italy.</li>
        </ul>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-body">
        <h5 style="text-align: left;" class="card-title">Publication(s) as Primary Author</h5>
        <ul>
          <li><a href="">"Sphere²: Jerry's rig, an OpenGL application for non-linear panorama viewing and interaction"</a>, IEEE Western New York Image Processing Workshop (WNYIPW), 2012.</li>
          <li><a href="">"Eye-movement sequence statistics and hypothesis-testing with classical recurrence analysis"</a>, Proceedings of the Symposium on Eye Tracking Research and Applications, 2014.</li>
          <li><a href="">"Computer vision enhances mobile eye-tracking to expose expert cognition in natural-scene visual-search tasks"</a>, Human Vision and Electronic Imaging XIX, 2014 (International Society for Optics and Photonics).</li>
          <li><a href="">"Practical image registration concerns overcome by the weighted and filtered mutual information metric"</a>, Journal of Electronic Imaging, 2012 (International Society for Optics and Photonics)</li>
          <li><a href="">"Image sequence event detection via recurrence analysis"</a>, IEEE Wester New York Image Processing Workshop (WNYIPW), 2013.</li>
        </ul>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-body">
        <h5 style="text-align: left;">Publication(s) as Affiliated Author</h5>
        <ul>
          <li><a href="">"Computational Models of Extra-Retinal Contributions to Predictive Saccades"</a>, Journal of Vision, 2014 (The Association for Research in Vision and Ophthalmology).</li>
          <li><a href="">"Ego-motion compensation improves fixation detection in wearable eye tracking"</a>, Proceedings of the Symposium on Eye Tracking Research and Applications, 2012.</li>
        </ul>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-body">
        <h5 style="text-align: left;">Course Work</h5>
        <ul>
          <li>Human Vision and Computer Vision</li>
          <li>Geometric and Wave Optics</li>
          <li>Photometrics and Radiometry</li>
          <li>Calculus of Radon and Fourier Transforms</li>
          <li>Digital Image and Video Processing</li>
          <li>Probability and Statistics for Signal Processing</li>
        </ul>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-body">
        <h5 style="text-align: left;">Independent Research</h5>
        <ul>
          <li>After completing a dual-degree B.Sc. and M.Sc. program in Electrical Engineering, I was accepted into the Ph.D. program in Imaging Science for the Fall of 2010. I defended and published my M.Sc. in the Summer of 2011. </li>
          <li>Started research in 3D Scene Reconstruction with Manifold Learning and Applied Probability.</li>
          <li>Continued Video- and Image-Registration research from M.Sc. Thesis experience.</li>
          <li>Independent development of data-wrangling software utilities and visualizations.</li>
          <li>Independent development of custom Graphical User Interfaces (GUIs).</li>
          <li>Independent development of research into practical applications of OpenGL as a Research utility.</li>
          <li>Research into applications of Entropy-based descriptors for multi-resolution Image Registration.</li>
          <li>Integration of Geolocation (GPS), Hi-Res Still Images, Low-Res Videos, and Audio Recordings for Scientific Analyses.</li>
          <li>Research into Geometric (Clifford-Gra&ss;mann) Algebra for multi-modal data modelling mathematics.</li>
          <li>Started (but did not finish) an OpenGL implementation of Geometric Algebra models for Image Registration and Eye-Tracking statistical analytics with interactive scene labelling.</li>
          <li>Several academic publications, specializing in applied Probabilistic Signal Analyses and Signal Processing.</li>
          <li>Supported fellow graduate students and professors in their research into Natural Language Processing, Image Labelling software development, Image Registration algorithms, Feature Detection algorithms, Optics, 3D Modelling, and Bayesian Statistics.</li>
        </ul>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-body">
        <h5 style="text-align: left;">Dissertation</h5>
        <p>In April of 2015 the funding that supported my stipend (read: paid my salary while doing research) was no longer available, and I was not in a financial position to be able to continue the research full-time without a stipend. In June of 2015 I was able to get a full-time job as a Software Engineering for SATCOM system-integration. I attempted to continue working on my dissertation on nights and weekends while working full-time as a Software Engineer on weekdays.</p>
        <p>Before April of 2015, I was able to create an early-stage prototype of the software that I thought was needed to complete the research, but it was written in Python based-on the Qt user-interface package <tt>pyside</tt>, and it wasn't able to efficiently handle video encoding/decoding and all the interactivity and scene rendering. So I was in the process of a rewrite in C and C++, while trying to switch to D and use GTK (gtkd) instead of Qt.</p>
        <p>Initially, I was not as skilled in application building/deployment and this hindered my progress. The research also required some novel image-registration requirements due to the various resolutions and qualities of the video and image data, and due to the fact that all of the imagery was set outdoors in unconstrained lighting conditions. This required extensive research in trying to integrate Information Theory and Geometric Algebra for Projective Camera Modelling.</p>
        <p>Ultimately, there were too many simultaneous research avenues that I was trying to follow-through on, and by February of 2018 I realised it would not be possible for me to complete the research, get results, and finalise a defensible dissertation before the April 15, 2018 deadline for the Ph.D. program (there was a 7-year time-limit for dissertations). I was not financially able to take 2-3 months off from my full-time job to dedicate to finalising the dissertation R&D, and working on both simultaneously was not something I felt I could keep doing.</p>
        <p>So I resigned from the program in February of 2018 with my dissertation unfinished.</p>
        <p>In April of 2020 I was furloughed and then accepted a separation agreement from my Data Scientist (Full-Stack Software Engineer) job at a Boston area startup, during the SARS-CoV-2 pandemic. During this unemployment period I have been working on going back over my dissertation research, updating the software (now with 5+ more years of experience), and re-documenting the mathematical relationships. I am in the process of publishing this updated research (personally and unaffiliated) on this website.</p>
      </div>
    </div>
  </div>
</div>
