<div id="job_satcom" class="container-fluid mt-3 job-container">
  <div class="card-body">
    <div class="card mt-3 header-card">
      <div class="card-body">
        <h3 class="card-title">Software Engineer (SATCOM)</h3>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-body">
        <h5 style="text-align: left;">Professional Experience</h5>
        <ul>
          <li><b>Year(s):</b> June 2015 through April 2019 (4 years)</li>
          <li><b>Role(s):</b> Full-Stack Software Engineer</li>
          <li><b>Promotion(s):</b> None</li>
          <li><b>Award(s):</b> 2016 Merit Bonus related to R&D</li>
          <li><b>Publication(s):</b> [Redacted] 2016 TechEx Conference</li>
        </ul>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-body">
        <h5 style="text-align: left;">Technology "Stack"</h5>
        <ul>
          <li>C (99), C++ (03), C++ (11)</li>
          <li>QEMU, &mu;CLinux, Linux 4.x, and FreeRTOS</li>
          <li>Qt, HTML, CSS, JavaScript (ES3, ES5)</li>
          <li>jQuery, RapidJSON, and jQueryUI</li>
          <li>QuartusII (FPGAs), Atmel Studio, and STM32</li>
          <li>Ubuntu 12, Ubuntu 14, Windows XP, Windows 7, and Windows 10</li>
          <li>Sublime Text, SVN, Trac Wiki, Jenkins, and vim</li>
          <li>Python, Tk, and Qt (pyside)</li>
          <li>Microsoft SQL Server</li>
        </ul>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-body">
        <h5 style="text-align: left;">Projects</h5>
        <ul>
          <li>Integration and Software Development related to a <abbr title="Digital Signal Processor">DSP</abbr>-based custom Energy Detector.</li>
          <li>Design and Development of a Python-based Quality-Assurance deployment and verification web-app for custom <abbr title="Radio Frequency">RF</abbr> Electronics circuit-boards.</li>
          <li>Helped lead <abbr title="Electromagnetic Interference">EMI</abbr> mitigation <abbr title="Research and Development">R&D</abbr> for an integrated, custom <abbr title="Very Small Aperture Terminal">VSAT</abbr> system with a satellite modem, to help obtain <abbr title="United States Federal Communications Commission">FCC</abbr>/<abbr title="European Economic Area CE-Marking">CE</abbr> certification.</li>
        </ul>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-body">
        <h5 style="text-align: left;">Daily Tasks</h5>
        <ul>
          <li>Software Engineer in a 6-10 person department.</li>
          <li>Product-based Engineering usually focused on multidisciplinary teams of 2-3 Engineers across <abbr title="Mechanical Engineering">ME</abbr>, <abbr title="Product-Line Engineering">PLE</abbr>, <abbr title="Electrical Engineering">EE</abbr>, and <abbr title="Test Engineering">TE</abbr> departments. Product guidelines were usually led/managed by a "Product Manager" who established and focused-on delivery deadlines. Project features were decided by the Director of Software Engineering while implementation tasks and details were self-managed.</li>
          <li>Most systems were integrated terminals built around an embedded Linux OS on a custom circuit-board hosting an FPGA-based CPU. Newer systems started moving towards SoC hybrid ARM+FPGA CPUs as well as multiple CPU boards.</li>
          <li>A majority of the project work focused on updating a legacy CGI excutable that was a serverside app written in C++, filling-in static HTML templates and serving minimal CSS and JavaScript.</li>
          <li>I helped with cross-browser compatibility by integrating HTML5, CSS3, and contemporary ES6 designs to enhance the interactivity of the web-based User Interface (UI).</li>
          <li>A lot of the integration tasks focused on Satellite Modems, Antenna Controllers, and Transmit/Receive devices that communicated over RS-232/RS-485 connections, I2C, SPI, CAN, or TCP/IP.</li>
          <li>I gained a lot of hands-on experience in troubleshooting embedded RF Electronics and investigating EMI mitigation techniques relevant to Systems Integration.</li>
          <li>Due to Product-based Engineering, projects were often concurrent, and I provided a lot daily support to fellow engineers and extensive mentorship/supervision of co-op student employees.</li>
          <li>As a persistent advocate for software- and techincal-documentation, I helped lead and maintain efforts to introduce inline Doxygen comments to most of the extant software product-lines. I also greatly expanded upon the internal Wiki documentation and encouraged its use across Engineering departments.</li>
          <li>Daily development was mainly focused on maintaining C++03 software and updating new projects to C++11 with templated-OOP designs.</li>
          <li>There were consistent efforts in reducing code-duplication through Software Engineering best-practices, as well as helping to design and implement proxy-pattern, observer-pattern, and factory-pattern designs.</li>
          <li>I also aided fellow Software Engineers in the introduction, teaching, and implementation of a custom JavaScript MVC design-pattern during the refactoring of legacy codebases to help reduce copy-and-pasted specializations.</li>
          <li>The main integration tasks for Software Engineering were the development of protocol emulation applications, data logging utilities, RF and Positioning signal-analytics, and several different graphical user interfaces. The majority of this emulation and simulation development was in Python, JavaScript (HTML), C++, go and D.</li>
          <li>I regularly provided a role as a knowledge expert in Analog and Digital Signal Processing across Engineering and Manufacturing. And through independent-research and on-the-job experience, I also generally served as knowledge resource for OSI-Model Networking and Analog/Digital Data-Communications technologies.</li>
          <li>I was the Software Engineering lead on 3 major product-lines developed internally and across divisions within the larger corporation.</li>
        </ul>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-body">
        <h5 style="text-align: left;">Reason(s) for Leaving</h5>
        <p>In April 2019, I left this company voluntarily, to move from Rochester (NY) to the Boston (MA) area to support my family. This was a personal decision due to unforeseen circumstances.</p>
      </div>
    </div>
  </div>
</div>
