<div id="job_videosecurity" class="mt-4 job-container">
  <div class="card-body">
    <div class="card mt-3 header-card">
      <div class="card-body">
        <h3 class="card-title">C++ Developer (Co-Op)</h3>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 style="text-align: left;">Professional Experience:</h5>
        <ul>
          <li><b>Year(s):</b> May 2010 through August 2010 (3 months)</li>
          <li><b>Role(s):</b> C++ Developer (Co-Op)</li>
          <li><b>Promotion(s):</b> None</li>
          <li><b>Award(s):</b> None</li>
          <li><b>Publication(s):</b> None</li>
        </ul>
        <h5 style="text-align: left;">Technology "Stack"</h5>
        <ul>
          <li>MATLAB</li>
          <li>C++</li>
          <li>OpenCV</li>
        </ul>
        <h5 style="text-align: left;">Daily Tasks</h5>
        <ul>
          <li>...</li>
        </ul>
      </div>
    </div>
  </div>
</div>
