<div id="job_student_msc" class="container-fluid mt-3 job-container">
  <div class="card-body">
    <div class="card mt-3 header-card">
      <div class="card-body">
        <h3 class="card-title">M.Sc. Electrical Engineering</h3>
        <h4 class="card-subtitle mt-1">Rochester Institute of Technology</h4>
        <h4 class="card-subtitle mt-2">Rochester, NY (USA)</h4>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-body">
        <h5 style="text-align: left;">Publications</h5>
        <ul>
          <li><a href="">"Weighted and filtered mutual information: A Metric for the automated creation of panoramas from views of complex scenes"</a>, Rochester Institute of Technology, Thesis for M.Sc. in Electrical Engineering, 2011.</li>
          <li><a href="">"Unsupervised automated panorama creation for realistic surveillance scenes through weighted mutual information registration"</a>, Image Processing: Algorithms and Systems IX (Conference), 2011 (International Society for Optics and Photonics).</li>
        </ul>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-body">
        <h5 style="text-align: left;">Graduate Courses</h5>
        <ul>
          <li>Antenna Theory</li>
          <li>Control Theory</li>
          <li>Linear Algebra</li>
          <li>Digital Signal Processing</li>
          <li>Digital Image Processing</li>
          <li>Digital Video Processing</li>
          <li>Information Theory</li>
          <li>Pattern Recognition (Machine Learning)</li>
          <li>Fuzzy Logic (Control Theory)</li>
          <li>Wireless Communications Theory</li>
        </ul>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-body">
        <h5 style="text-align: left;">Thesis Research</h5>
        <ul>
          <li>A local branch of a security company provided research funding to develop a novel algorithm for video registration.</li>
          <li>The top feature-detection algorithm of the time (SIFT) was under a patent requiring a royalty-based license for its use in commercial applications, so they wanted to have their own method developed.</li>
          <li>Taking an Information Theoretic approach, I determined a method of detecting content overlaps in like-domain images that could be implemented as an index-based iterative computation of Mutual Information content between two images at a time.</li>
          <li>This was generic to video by treating video as a series of still-frames, leaving open an extension of the algorithm to incorporate temporal "convolution" / overlaps in future enhancements.</li>
          <li>After visualising the map of <a href="https://en.wikipedia.org/wiki/Mutual_information">Mutual Information</a> measures for all overlap-regions between two images, I realised that a <a href="https://homepages.inf.ed.ac.uk/rbf/HIPR2/log.htm">Laplacian Filter</a> could be used to mitigate probabilistic "noise" while simultaneously statistically-normalizing the measurements. When I applied the filter I was able to detect a true local maximum that indicated an optimal overlap for the imagery and was robust to minor projective (3D) rotations between viewpoints.</li>
          <li>The intellectual property for this algorithm was sold to the company that provided the grant, and in the Summer of 2010 I worked for the company to convert the MATLAB prototype of the algorithm into C++ using OpenCV so they could integrate it into their security software.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
