<div id="job_furlough" class="container-fluid mt-3 job-container">
  <div class="card-body">
    <div class="card mt-3 header-card">
      <div class="card-body">
        <h3 class="card-title">Unemployed (Furloughed)</h3>
        <h4 class="card-subtitle mt-1">Boston, MA (USA)</h4>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-body">
        <p>On April 2, 2020, as part of a business restructuring due to the SARS-CoV-2 pandemic's affects on the economy, I was <a href="https://en.wikipedia.org/wiki/Furlough">furloughed</a> from my Data Scientist (Full-Stack Software Engineer) role at a Boston-area Business Intelligence startup company.</p>
        <p>On April 3, 2020 I returned my work laptop and was told that while the reduction-in-force was almost exclusively layoffs, there were two employees (myself and another engineer) who were offered a furlough due to our appreciated job performance. The furlough was a genuine offer, but if I had accepted it I would not be guaranteed to return to work.</p>
        <p>Given the uncertainty in news reports, government recommendations, and the unemployment system at the time, I decided to accept a separation agreement instead of the furlough, as a financial decision.</p>
        <p>During this period, I was able to receive Unemployment Assistance from the State of Massachusetts while I continued a job search for Data Science and Software Engineering opportunities. To aid in my job search, I updated the design and deployment of this website as a Scientific Engineering portfolio of my work and experience. I also developed and shared Open-Source software on GitHub and here on my personal site.</p>
      </div>
    </div>
  </div>
</div>
