<div id="job_weather" class="container-fluid mt-3 job-container">
  <div class="card-body">
    <div class="card mt-3 header-card">
      <div class="card-body">
        <h3 class="card-title">C++ and MATLAB Developer (Co-Op)</h3>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-body">
        <h5 style="text-align: left;">Professional Experience</h5>
        <ul>
          <li><b>Month(s):</b> May 2008 through August 2008 (3 months)</li>
          <li><b>Role(s):</b> C++ and MATLAB Developer (Co-Op)</li>
          <li><b>Group:</b> Weather Sensing R&D</li>
        </ul>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-body">
        <p>As a Summer Itern supporting Weather-Sensing researchers, I worked extensively in MATLAB and C++ development. Given very large (GB) datasets of compressed weather RADAR data for FAA consumption, I worked to create a utility for searching uncompressed header chunks that would allow researchers to selectively decompress the datasets. I also worked extensively in creating customisable MATLAB visualizations that would directly interact with the compressed, searchable archives, so as to mitigate the need to decompress whole datasets when wanting to view a single image.</p>
      </div>
    </div>
  </div>
</div>
