<div id="job_assistant_teaching" class="container job-container">
  <div class="card-body">
    <div class="card mt-3 header-card">
      <div class="card-body">
        <h3 class="card-title">Graduate Teaching Assistant</h3>
        <h4 class="card-subtitle">Rochester Institute of Technology</h4>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 style="text-align: left;">Professional Experience:</h5>
      <ul>
        <li><b>Year(s):</b> April 2009 through August 2011 (15 months)</li>
        <li><b>Role(s):</b> Graduate Teaching Assistant</li>
        <li><b>Promotion(s):</b>
          <ul>
            <li>Graduate Research Assistant (Computer Engineering)</li>
            <li>Graduate Teaching Assitant (Electrical Engineering)</li>
            <li>M.Sc. Student (Electrical Engineering)</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <h5 style="text-align: left;">Teaching Assistantship</h5>
      <ul>
        <li>Wrote and graded Graduate <abbr title="Digital Signal Processing">DSP</abbr> Course Quizzes.</li>
        <li>Helped grade Graduate <abbr title="Digital Signal Processing">DSP</abbr> exams.</li>
        <li>Graded and wrote detailed solutions for Graduate DSP Course homework assignments.</li>
        <li>Provided editing and code-listing verification for a new Linear Algebra textbook.</li>
        <li>Signal Processing, Linear Algebra, Computer Vision, and Machine Learning mentoring for students.</li>
      </ul>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <h5 style="text-align: left;">Research Tasks:</h5>
      <ul>
        <li>From September 2010 through May 2011 I was simultaneously writing my M.Sc. dissertation and taking courses for the Imaging Science Ph.D. program.</li>
        <li>In June 2011, I successfully defended and published my M.Sc. thesis.</li>
        <li>There were no projects available with my M.Sc. thesis-advisor, so for June through August 2011 I worked as a Graduate Research Assistant in the Computer Engineering department supporting a proof-of-concept research project with an Engineering team from the <abbr title="RIT's National Technical Institute for the Deaf">NTID</abbr>.</li>
        <li>The research project was OpenCV development in C# to attempt to de-warp cameras for making a "see-through" whiteboard. There was also research into trying to apply "bag-of-words"-like Feature Detection and Registration algorithms, and other advanced Data Science methods.</li>
      </ul>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <h5 style="text-align: left;">Reason(s) for Leaving</h5>
      <p>My mentor went on a sabbatical in August of 2011, so my role in the project ended at that time, coinciding with a lack of funding. We agreed that the Data Science methods of interest (based on the work of a previous student) were shown to be inapplicable to the problem at hand, from my research that Summer. So, even if I continued on the project, my role in the research would've drastically changed directions. Therefore, I moved onto a different project in the Imaging Science department for the rest of my Ph.D. research.</p>
      <p>In September 2011, as a student of the Ph.D. program in the Imaging Science department, I was offered a stipend as a research assistant for an ongoing multi-university research project in Mobile Eye-Tracking. Due to my Dissertation Advisor (Mentor) being in the Mathematics department, I no longer had any Teaching Assistant duties, and focused instead on independent research and supporting the Multidisciplinary Vision Research Laboratory (MVRL).</p>
    </div>
  </div>
</div>
