<div id="job_furlough" class="container-fluid mt-3 job-container">
  <div class="card-body">
    <div class="card mt-3 header-card">
      <div class="card-body">
        <h3 class="card-title">Unemployed (Furloughed)</h3>
        <h3 class="card-title mt-1">Boston, MA (USA)</h3>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-body">
        <p>On April 2, 2020 I was notified by my boss at the Business Intelligence startup where I was working, that I had been put on <a href="https://en.wikipedia.org/wiki/Furlough">furlough</a> by the company. Due to the SARS-CoV-2 pandemic's effects on the U.S. economy, being a Software-as-a-Service (SaaS) company for Sales Organizations, the business needed to do a 30% reduction in employees.</p>
        <p>On April 3, 2020 I was told that while the reduction was almost exclusively layoffs, there were two employees (myself and another engineer) who were offered a furlough instead of being laid-off. The furlough would be unpaid, but health-care costs would be covered until July 3, 2020. If I accepted the furlough, I would not be guaranteed to return to work, but due to the pandemic there seemed to be the likelihood that I could collect Unemployment under the circumstances.</p>
        <p>Given the uncertainty in the news reports and government recommendations at the time, and the ambiguity of the business decisions (from my limited purview), I decided to accept a separation agreement instead of the furlough, exclusively for financial reasons.</p>
        <p>During this unemployment period, I have been actively job searching in the Columbus, OH and Boston, MA areas, as well as looking for full-remote positions. I am looking to continue work as a Data Scientist or Machine Learning Engineer, but I am also always interested in Full-Stack Software Engineer opportunities.</p>
        <p>I have been working on the development of Open-Source software and utilities shared on my public GitHub account(s), as well as working on expanding and upgrading this website.</p>
      </div>
    </div>
  </div>
</div>
