{{> page_head}}
    <main>
      <div class="padded-container">
        <div class="intro_logo">
          <img class="img_wide" src="/img/tommylogos/webdev.svg">
        </div>
        <div class="billet inline wide mt-3">
          <div class="billet-header">
            <h2>Site Design</h2>
          </div>
          <div class="billet-body">
            <p>Unless stated otherwise, below, everything on this site was designed, created, and implemented by <b>tommy</b>, including the back-end deployment of the site. This is a <b>mustache-flask-uwsgi-nginx</b> stack running on a rented Linux <abbr title="Virtual Private Server">VPS</abbr>, with server-side HTML generation from <a href="https://mustache.github.io/">mustache</a> templates and <a href="https://commonmark.org/">commonmark</a> "rendered" markdown documents. The <a href="https://flask.palletsprojects.com/en/1.1.x/">flask</a> app is deployed as a <a href="https://en.wikipedia.org/wiki/Systemd">systemd</a> service, handed HTTP requests through the <a href="https://uwsgi-docs.readthedocs.io/en/latest/">uwsgi</a> utility, which is called by the webserver application <a href="https://www.nginx.com/">Nginx</a>, depending on the endpoint requests.</p>
            <p><b>Site Icons:</b> <a href="https://github.com/TommyPKeane/tommy_tofu">TommyTofu</a> designed and maintained by Tommy P. Keane using Inkscape. The site originally used <a href="https://feathericons.com/">Feather Icons</a>, but they've since been replaced by our own custom designs.</p>
            <p><b>Stylefiles:</b> Custom, handwritten CSS by Tommy P. Keane, based-on an initial design using <a href="https://getbootstrap.com/">Bootstrap</a>. Our custom <tt>mise-en-place.css</tt> code has replaced the majority of the Bootstrap design and functionality.</p>
            <p><b>HTTP Requests</b>: Handled by a custom <a href="https://flask.palletsprojects.com">Flask</a> application developed in <a href="https://docs.python.org/3/whatsnew/3.8.html">Python 3.8.x</a> supplied by <a href="https://github.com/pyenv/pyenv">pyenv</a> with <a href="https://python-poetry.org/">poetry</a> for dependency management.</p>
            <p><b>Typefaces</b>:</p>
            <ul>
              <li>Titles: <a href="https://fonts.google.com/specimen/Righteous" style="font-family: 'Righteous', sans-serif;">Righteous</a></li>
              <li>Main Text: <a href="https://fonts.google.com/specimen/Kumbh+Sans" style="font-family: 'KumbhSans', sans-serif;">Kumbh Sans</a></li>
              <li>Teletype (Monospaced): <a href="https://fonts.google.com/specimen/VT323" style="font-family: 'VT323', monospace;">VT323</a></li>
            </ul>
          </div>
        </div>
      </div>
      <a id="back-to-top" href="#" class="btn btn-danger btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-trigger="hover focus" data-placement="left" data-html="true">{{{img_scroll_to_top}}}</a>
    </main>
{{> page_foot}}