{{> page_head}}
    <main class="simple-container">
      <nav class="breadcrumbs" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{bc_base_href}}">{{page_bc_base}}</a></li>
          <li class="breadcrumb-item"><a href="{{bc_topic_href}}">{{page_topic}}</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{page_name}}</li>
        </ol>
      </nav>
      <div id="intro_container" class="collapsable billet intro">
        <div class="billet-header">
          <h3>{{intro_title}}</h3>
          <h4>{{intro_subtitle}}</h4>
        </div>
        <div class="billet-body">
          {{{intro_content}}}
        </div>
        <span class="hoverable" aria-describedby="hv-intro-collapse">
          <a id="collapse-intro" href="#" class="bouton fill" data-target="#intro_container">{{{img_intro_collapse}}}</a>
        </span>
        <span class="hoverable" aria-describedby="hv-intro-expand">
          <a id="expand-intro" href="#" class="bouton fill" data-target="#intro_container">{{{img_intro_expand}}}</a>
        </span>
      </div>
      <div class="billet comfy">
        <div class="billet-body">
          <h1>Table of Contents</h1>
          <p class="nota">Click on Section Title to Expand Contents after Navigating with the Table of Contents Link</p>
          <ul>
            {{#toc}}
              <li>
                <a href="#{{article_id}}">{{article_title}}</a>
                <ul>
                  {{#subtitles}}
                    <li><a href="#{{subtitle_id}}">{{subtitle_title}}</a></li>
                  {{/subtitles}}
                </ul>
            {{/toc}}
          </ul>
        </div>
      </div>
      <div class="simple-container">
        {{#content}}
          <div id="{{article_id}}" class="article">
            <div class="article-header" id="id_header_{{article_id}}">
              <h1>
                <a class="collapser" role="button" data-toggle="collapse" title="Click to toggle." data-target="#id_collapse_{{article_id}}" aria-expanded="false" aria-controls="id_collapse_{{article_id}}">
                  {{article_title}}
                </a>
              </h1>
            </div>
            <div id="id_collapse_{{article_id}}" class="collapsable article-body" aria-labelledby="id_header_{{article_id}}" data-parent="#{{article_id}}">
              {{{article}}}
            </div>
          </div>
        {{/content}}
      </div>
      <div class="aria_hover" id="hv-intro-collapse">
        <p>Hide the Intro Text</p>
      </div>
      <div class="aria_hover" id="hv-intro-expand">
        <p>Show the Intro Text</p>
      </div>
      <a id="back-to-top" href="#" class="bouton back-to-top" title="Click to return on the top page">{{{img_scroll_to_top}}}</a>
    </main>
{{> page_foot}}
