<footer>
  <button id="id_settings_btn" class="bouton popup-launch" title="Click for Site Settings" aria-haspopup="dialog" data-popup-id="id_settings_overlay">
    {{{icon_settings}}}
  </button>
  <button id="id_contact_btn" class="bouton popup-launch" title="Click for Contact Info" aria-haspopup="dialog" data-popup-id="id_contact_overlay">
    {{{icon_contact}}}
  </button>
</footer>
{{#scriptfiles}}
  <script type="text/javascript" src="{{scriptname}}"></script>
{{/scriptfiles}}
{{#modulefiles}}
  <script type="module" src="{{module}}"></script>
{{/modulefiles}}
