<nav class="nav-main">
  {{#nav_links}}
    <a class="nav-bouton-link" href="{{target}}">
      <div class="nav-icon">
        {{{icon}}}
      </div>
      <h1 class="nav-title">{{title}}</h1>
    </a>
  {{/nav_links}}
</nav>
