<div id="id_contact_overlay" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Lookin' for me?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Hiya!</p>
        <p>If you wanna talk career-opportunities, or science, or maths, or engineering, or software development, or whatever, you can reach out to:</p>
        <img src="/img/contact-tommy_purple-pink.png">
        <p>If you wanted source-code for anything you've seen on this site, then it's probably gonna be over on <a href="https://github.com/tommypkeane">GitHub</a> account. If it's not there, try <a href="https://bitbucket.com/tommypkeane">BitBucket</a>; and if it's not there, then feel free to email.</p>
      </div>
    </div>
  </div>
</div>