<header>
  {{> header_modal_help}}
  {{> header_modal_settings}}
  <nav class="navbar navbar-expand-xl">
    <a class="navbar-brand" href="/">
      {{{icon_home}}} 
      tommypkeane.com
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      {{{icon_other_sites}}}
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link dropdown-toggle" href="/resume">
            {{{icon_cv_resume}}}
            BUSINESS (CV)
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown"></div>
        </li>
        <li class="nav-item">
          <a class="nav-link dropdown-toggle" href="https://www.github.com/tommypkeane">
            {{{icon_github}}}
            GitHub
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown"></div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{{icon_other_sites}}}
            PROJECTS
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/projects/synth">
              {{{icon_synth}}}
              Synthesizer
            </a>
            <a class="dropdown-item" href="/projects/hw/pinephone">
              {{{icon_pinephone}}}
              PinePhone (Pine64)
            </a>
            <a class="dropdown-item disabled" href="/projects/hw/pinetime">
              {{{icon_pinetime}}}
              PineTime (Pine64) | Coming soon...
            </a>
            <a class="dropdown-item disabled" href="/projects/sw/cellularautomata">
              {{{icon_cellular_automata}}}
              Cellular Automata | Coming soon...
            </a>
            <!-- <a class="dropdown-item" href="/projects/hw/pinephone">
              {{{icon_raspberrypi}}}
              Raspberry Pi (SBC)
            </a>
            <a class="dropdown-item" href="/projects/hw/pinephone">
              {{{icon_odroid}}}
              ODroid (SBC)
            </a> -->
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{{icon_other_sites}}}
            ARTS & CRAFTS
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/photography">
              {{{icon_photography}}}
               PHOTOGRAPHY
            </a>
            <a class="dropdown-item disabled" href="/woodworking">
              {{{icon_photography}}}
               WOODWORKING
            </a>
            <a class="dropdown-item disabled" href="/sewing">
              {{{icon_photography}}}
               SEWING
            </a>
            <a class="dropdown-item disabled" href="/poetry">
              {{{icon_photography}}}
               POETRY
            </a>
            <a class="dropdown-item disabled" href="/illustrations">
              {{{icon_photography}}}
               ILLUSTRATIONS
            </a>
            <a class="dropdown-item disabled" href="/3dgraphics">
              {{{icon_photography}}}
               3D GRAPHICS
            </a>
            <a class="dropdown-item disabled" href="/tommytofu">
              {{{icon_photography}}}
               WEB ICONS (tommytofu)
            </a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/educational">
            {{{icon_books}}}
            EDUCATIONAL
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
