{{> page_head}}
    <main>
      <div class="padded-container">
        <div class="intro_logo">
          <img class="img_wide" src="/img/portrait-tommy_20200901_plain.svg">
        </div>
        <div class="billet inline wide mt-3">
          <div class="billet-header">
            <h2>Hiya! Welcome!!!</h2>
          </div>
          <div class="billet-body">
            <p>this is the personal website of a <i>certain</i> <b>tommy p. keane</b>.</p>
            <p>if that illustration over there doesn't look like the vegan, Ph.D. dropout, myopic, Scientific Engineer <b>tommy</b> (born in the USA during the 1980s) that you're lookin' for, then you might be at the wrong site. thanks for visiting, though!</p>
            <p>but, if this all sounds like the <b>tommy p. keane</b> that you were expecting, then, welcome!, again! this is basically the only site that <b>tommy</b> maintains on the internet(s), so whatever you're lookin' for is probably somewhere in here.</p>
            <p>if you'd like to change the site theme, you can use the <span class="text-svg">{{{icon_settings}}}</span>(Settings) button to configure the site cookies. otherwise, this is a cookie-less and tracker-less site.</p>
          </div>
        </div>
      </div>
      <hr>
      <div class="billet-grid">
        <div class="billet inline narrow">
          <div class="billet-header">
            <a href="https://github.com/tommypkeane">
              {{{icon_github}}}
              <h2>github.com/tommypkeane</h2>
            </a>
          </div>
          <div class="billet-body">
            <p>tommy has a personal, public GitHub page full of repositories of free, open-source code that you are (of course) welcome to peruse and use.</p>
            <p>tommy is also available to discuss any potential professional Software Engineering, Data Science, or Scientific Engineering career opportunities you may have -- and these GitHub repositories should be a pretty good (albeit incomplete) indication of the kind of work tommy does.</p> 
          </div>
        </div>
        <div class="billet inline wide">
          <div class="billet-header">
            <h3>Social Sites & Profiles</h3>
          </div>
          <div class="billet-body">
            <p>tommy doesn't currently have a profile on any of the popular social sites, except for a couple related to professional development. for the sake of clarity, the following is a list of popular professional and social sites. If tommy has a profile there, then a link should follow -- otherwise, if you see somebody there with the same name or likeness, that's probably not actually this tommy.</p>
            <div class="centered">
              <ul class="side_by_side">
                <li><b>LinkedIn&trade;:</b> <i>nope.</i></li>
                <li><b>Facebook&trade;:</b> <i>nope.</i></li>
                <li><b>Instagram&trade;:</b> <i>nope.</i></li>
                <li><b>TikTok&trade;:</b> <i>nope.</i></li>
                <li><b>Snapchat&trade;:</b> <i>nope.</i></li>
              </ul>
              <ul class="side_by_side">
                <li><b>Twitter&trade;:</b> <i>nope.</i></li>
                <li><b>RenRen&trade;:</b> <i>nope.</i></li>
                <li><b>Weibo&trade;:</b> <i>nope.</i></li>
                <li><b>Google Scholar&trade;:</b> <i>nope.</i></li>
                <li><b>HackerRank&trade;:</b> <a href="https://www.hackerrank.com/tommypkeane">tommypkeane</a></li>
              </ul>
              <ul class="side_by_side">
                <li><b>Hired&trade;:</b> <i>Yes! (but no public link)</i></li>
                <li><b>TripleByte&trade;:</b> <i>Yes! (but no public link)</i></li>
                <li><b>Scopus&trade;:</b> <a href="https://www.scopus.com/authid/detail.uri?authorId=37066246200">Keane, Tommy P.</a></li>
                <li><b>GitHub&trade;:</b> <a href="https://github.com/TommyPKeane/">tommypkeane</a></li>
                <li><b>BitBucket&trade;:</b> <a href="https://bitbucket.org/TommyPKeane/">tommypkeane</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="billet inline wide">
          <div class="billet-header">
            <h3>Site Design</h3>
          </div>
          <div class="billet-body">
            <p>Unless stated otherwise, below, everything on this site was designed, created, and implemented by <b>tommy</b>, including the back-end deployment of the site. This is a <b>mustache-flask-uwsgi-nginx</b> stack running on a rented Linux <abbr title="Virtual Private Server">VPS</abbr>, with server-side HTML generation from <a href="https://mustache.github.io/">mustache</a> templates and <a href="https://commonmark.org/">commonmark</a> "rendered" markdown documents. The <a href="https://flask.palletsprojects.com/en/1.1.x/">flask</a> app is deployed as a <a href="https://en.wikipedia.org/wiki/Systemd">systemd</a> service, handed HTTP requests through the <a href="https://uwsgi-docs.readthedocs.io/en/latest/">uwsgi</a> utility, which is called by the webserver application <a href="https://www.nginx.com/">Nginx</a>, depending on the endpoint requests.</p>
            <p><b>Site Icons:</b> <a href="https://github.com/TommyPKeane/tommy_tofu">TommyTofu</a> designed and maintained by Tommy P. Keane using Inkscape. The site originally used <a href="https://feathericons.com/">Feather Icons</a>, but they've since been replaced by our own custom designs.</p>
            <p><b>Stylefiles:</b> Custom, handwritten CSS by Tommy P. Keane, based-on an initial design using <a href="https://getbootstrap.com/">Bootstrap</a>. Our custom <tt>mise-en-place.css</tt> code has replaced the majority of the Bootstrap design and functionality.</p>
            <p><b>HTTP Requests</b>: Handled by a custom <a href="https://flask.palletsprojects.com">Flask</a> application developed in <a href="https://docs.python.org/3/whatsnew/3.8.html">Python 3.8.x</a> supplied by <a href="https://github.com/pyenv/pyenv">pyenv</a> with <a href="https://python-poetry.org/">poetry</a> for dependency management.</p>
            <p><b>Typefaces</b>:</p>
            <ul>
              <li>Titles: <a href="https://fonts.google.com/specimen/Righteous" style="font-family: 'Righteous', sans-serif;">Righteous</a></li>
              <li>Main Text: <a href="https://fonts.google.com/specimen/Kumbh+Sans" style="font-family: 'KumbhSans', sans-serif;">Kumbh Sans</a></li>
              <li>Teletype (Monospaced): <a href="https://fonts.google.com/specimen/VT323" style="font-family: 'VT323', monospace;">VT323</a></li>
            </ul>
          </div>
        </div>
        <div class="billet inline narrow">
          <div class="billet-header">
            <h3>Work Opportunities</h3>
          </div>
          <div class="billet-body">
            <p><b>tommy</b> is currently unemployed after being furloughed due to the <a href="https://en.wikipedia.org/wiki/COVID-19_pandemic">SARS-CoV-2 Pandemic</a>.</p>
            <p><b>tommy</b> is actively looking for a role as a Full-Stack Software-Engineer, Data Scientist, Data Engineer, Machine Learning Engineer, and/or DevOps Engineer. <b>tommy</b> is used to multi-faceted roles, but is also always eager to learn new skills in a more specific role.</p>
            <p>for the sake of anonymity and to encourage bidirectional disconnection, the names of <b>tommy's</b> previous employers have been redacted from this site, but you can look through the <a href="/resume/">Business (CV)</a> page(s) to learn about <b>tommy's</b> work history and relevant technology skills.</p>
            <p>if you want to see a non-redacted resum&eacute; or have any questions, just click on the little <b>help</b> button to see our contact info, and feel free to reach-out anytime.</p>
          </div>
        </div>
      </div>
      <a id="back-to-top" href="#" class="btn btn-danger btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-trigger="hover focus" data-placement="left" data-html="true">{{{img_scroll_to_top}}}</a>
    </main>
{{> page_foot}}