{{> page_head}}
    <main>
      <div class="padded-container">
        <div class="intro_logo">
          <img class="img_wide" src="/img/portrait-tommy_20200901_plain.svg">
        </div>
        <div class="billet inline wide mt-3">
          <div class="billet-header">
            <h2>Hiya! Welcome!!!</h2>
          </div>
          <div class="billet-body">
            <p>this is the personal website of a certain <b>tommy p. keane</b>.</p>
            <p>if that illustration over there doesn't look like the vegan, Ph.D. dropout, myopic, Scientific Engineer (born in the USA during the 1980s) that you're lookin' for, then you might've stumbled across the wrong {{{tommy}}}. thanks for visiting, though!</p>
            <p>but, if this all sounds like the <b>tommy p. keane</b> that you were expecting, then, welcome!, again! this is basically the only site that {{{tommy}}} maintains on the internet(s), so whatever you're lookin' for is probably around here somewhere.</p>
            <p>if you'd like to change the site theme, you can use the <span class="text-svg">{{{icon_settings}}}</span>(Settings) button to configure the site cookies. otherwise, this is a cookie-less and tracker-less site.</p>
            <p><i>Site Design Update in Progress... (2021-02-14)</i></p>
          </div>
        </div>
      </div>
      <hr>
      <div class="billet-grid">
        <div class="billet inline wide">
          <div class="billet-header">
            <h3>Work Opportunities</h3>
          </div>
          <div class="billet-body">
            <p>{{{tommy}}} is currently employed full-time (working remotely) for a Boston-area Healthcare <span class="hoverable" aria-describedby="hv-saas">SaaS</span> Startup in Massachussetts (USA). {{{tommy}}} is in a multidisciplinary DevOps, Software Engineering, and Data Science (Machine Learning) role with a team of Engineers and Scientists. {{{tommy}}} works in Cloud Architecture and Machine Learning Infrastructure (MLOps), mentoring and reviewing software development through Software Engineering best practices, and encouraging Agile Project-Management principles.</p>
            <p>{{{tommy}}} is <b>not actively job-seeking</b>, but if you want to see a non-redacted resum&eacute; or have any questions, just click on the little <b>help</b> button to see our contact info, and feel free to reach-out anytime.</p>
            <hr>
            <p>{{{tommy}}} was unemployed for 5 months in 2020 due to the <a href="https://en.wikipedia.org/wiki/COVID-19_pandemic">SARS-CoV-2 Pandemic</a> &mdash; originally being furloughed and then accepting a "Separation Agreement". {{{tommy}}} also worked on a Ph.D. in Imaging Science from 2010 through 2018, becoming a Ph.D. Candidate in 2014, but left the program without completing or defending a dissertation. {{{tommy}}} has worked in Retail and IT Support roles from 2002 to 2007; Software Engineering, Digitial Signal Processing, and Computer Vision R&D roles from 2007 to 2015; and then has been working in RF Engineeering, SATCOM Systems Integration, Revenue Operations Data Science, React.js Full-Stack Web Development, Custom CGI Full-Stack Web Development, AWS DevOps, GCP DevOps, Cloud Architecture, Machine Learning Software Engineering, and MLOps Engineering roles since 2015.</p>
          </div>
        </div>
        <div class="billet inline narrow">
          <div class="billet-header">
            <h3>Social Sites & Profiles</h3>
          </div>
          <div class="billet-body">
            <p>{{{tommy}}} doesn't currently have a profile on any of the popular social sites, except for a couple related to professional development. for the sake of clarity, the following is a list of popular professional and social sites. If tommy has a profile there, then a link should follow -- otherwise, if you see somebody there with the same name or likeness, that's not actually this {{{tommy}}}, or {{{tommy}}} totally forgot about it.</p>
            <div class="centered">
              <ul class="side_by_side">
                <li><b>LinkedIn&trade;:</b> <i>nope.</i></li>
                <li><b>Facebook&trade;:</b> <i>nope.</i></li>
                <li><b>Instagram&trade;:</b> <i>nope.</i></li>
                <li><b>TikTok&trade;:</b> <i>nope.</i></li>
                <li><b>Snapchat&trade;:</b> <i>nope.</i></li>
                <li><b>Twitter&trade;:</b> <i>nope.</i></li>
                <li><b>RenRen&trade;:</b> <i>nope.</i></li>
                <li><b>Weibo&trade;:</b> <i>nope.</i></li>
                <li><b>Google Scholar&trade;:</b> <i>nope.</i></li>
                <li><b>Hired&trade;:</b> <i>Yes! (but no public link)</i></li>
                <li><b>TripleByte&trade;:</b> <i>Yes! (but no public link)</i></li>
              </ul>
              <ul class="side_by_side">
                <li><b>HackerRank&trade;:</b> <a href="https://www.hackerrank.com/tommypkeane">tommypkeane</a></li>
                <li><b>Scopus&trade;:</b> <a href="https://www.scopus.com/authid/detail.uri?authorId=37066246200">Keane, Tommy P.</a></li>
                <li><b>GitHub&trade;:</b> <a href="https://github.com/TommyPKeane/">tommypkeane</a></li>
                <li><b>BitBucket&trade;:</b> <a href="https://bitbucket.org/TommyPKeane/">tommypkeane</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="billet inline narrow">
          <div class="billet-header">
            <h3>Language</h3>
          </div>
          <div class="billet-body">
            <p>{{{tommy}}} is a native speaker of American English, and it's the only language {{{tommy}}} is actually fluent in. one thing to watch out for, though, is that {{{tommy}}} tends to use British English spellings (double L, S instead of Z, extra U, and all that) with maximum effort and occluded reasoning. there's also a bit of a Bostonian influence, so {{{tommy}}} may do an <i>ah</i> instead of a <i>u</i>, or probably add an <i>r</i> to make things <span class="hoverable" aria-describedby="hv-sawr-example">easier to pronounce</span>. oh, not really a warning; but there is, of course, an accurately abundant use of commas. and as some thievery from academic writing, most of this site is written in the third-person plural (<i>we, us, our, ...</i>), even though it's just me, here, alone, again, naturally.</p>
            <p>{{{tommy}}} tries to use they/them in any creative, explanatory, scientific, or professional writing; so as to be neutral and inclusive. {{{tommy}}} will legitimately be happy to be referred to by any pronouns you wanna use -- most likely order of preference: they / he / she. {{{tommy}}} doesn't have anything &ldquo;figured out&rdquo;, {{{tommy}}}'s a pacifistic vegan, and probably a paranoid solipsist just tryin' to remain anonymous.</p>
          </div>
        </div>
      </div>
      <div class="aria_hover" id="hv-saas">
        <p>SaaS: Software as a Service -- a type of commercial software where clients subscribe to access a web-application, and when they end their subscription they (typically) lose access to the application.</p>
      </div>
      <div class="aria_hover" id="hv-sawr-example">
        <p><i>e.g.,</i> &ldquo;We sawr it...&rdquo; instead of &ldquo;We saw it...&rdquo; -- very much like the phonetic <a href="https://en.wikipedia.org/wiki/Liaison_(French)">Liaison</a> in the French Language.</p>
      </div>
      <a id="back-to-top" href="#" class="btn btn-danger btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-trigger="hover focus" data-placement="left" data-html="true">{{{img_scroll_to_top}}}</a>
    </main>
{{> page_foot}}
