    {{> footer_contents}}
    <footer class="pg_info">
      <p>this endpoint's static response content was last modified on <tt>{{ep_last_modified_date}}</tt> by <tt>{{ep_last_modified_author}}</tt>.<br>note that the content of this site is hosted in our <a href="{{site_repo_url}}">{{site_repo_title}}</a> repo on GitHub.</p>
    </footer>
  </body>
</html>
