{{> page_head}}
    <div id="hover_title">No Selection</div>
    <main>
      <div id="intro_container" class="container-fluid page_intro">
        <div class="billet mt-3 mb-3">
          <h3 class="billet-title mt-3">Curriculum Vit&aelig; (CV)</h3>
          <h4 class="billet-subtitle">Employment History</h4>
          <h4 class="billet-subtitle mt-1 mb-2">Academic Career</h4>
          <div class="billet-body">
            <p>Hiya!</p>
            <p>Welcome to the interactive <i>curriculum vit&aelig;</i> of this, here, <b>tommy p. keane</b>.</p>
            <p>If you're looking for my actual PDF resum&eacute;, you can contact me per the info at the bottom of this page. All company and institution names have been redacted for privacy and de-affiliation reasons, except for the probably already public information that I attended the Rochester Institute of Technology (RIT). This site is not affiliated with any other organization, I'm just sharing my personal experiences.</p>
            <p class="aside_par">Note: Most of my professional experiences were with teams or businesses, and even in graduate independent-research I had peers, friends, and professors for support. This content is written from only my personal point-of-view about my personal skillset and experiential history -- like a resum&eacute;. But, to be clear: many, many people who are not mentioned here have helped, taught, and supported me.</p>
            <p>To explore, just click the boxes on the timeline indicating each job or degree-program. On browsers with a mouse you can hover over each block to see its title.</p>
          </div>
          <a id="collapse-intro" href="#" class="btn btn-outline-success btn-lg" role="button" title="Click to collapse." data-toggle="tooltip" data-placement="bottom">{{{img_intro_collapse}}}</a>
          <a id="expand-intro" href="#" class="btn btn-outline-success btn-lg" role="button" title="Click to expand." data-toggle="tooltip" data-placement="bottom">{{{img_intro_expand}}}</a>
        </div>
      </div>
      <div id="timeline_wide_container" class="mt-4 container-fluid">
        {{{resume_cv_timeline}}}
      </div>
      {{> job_unemployment}}
      {{> job_software_engineer_businessintelligence}}
      {{> job_software_engineer_satcom}}
      {{> job_graduate_research_assistant}}
      {{> job_graduate_teaching_assistant}}
      {{> job_student_phd}}
      {{> job_coop_videosecurity}}
      {{> job_coop_weatherdata}}
      {{> job_student_msc}}
      {{> job_coop_touchscreen_repair}}
      {{> job_coop_network_technician}}
      {{> job_student_bsc}}
      {{> job_cashier_electronics}}
      {{> job_student_hs}}
      {{> job_cashier_grocery}}
      <a id="back-to-top" href="#" class="btn btn-danger btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-trigger="hover focus" data-placement="left" data-html="true">{{{img_scroll_to_top}}}</a>
    </main>
{{> page_foot}}
