:root {
  --colour-white: #FFFFFF;
  --colour-gray: #7F7F7F;
  --colour-gray-transparent: #78787878;
  --colour-black: #000000;
  --svg-dark-bg-colour: #4F1784;
  --svg-dark-shadow-colour: #000000;
  --svg-light-bg-colour: #F1FFF1;
  --svg-light-shadow-colour: #000000;

  --darkmode-colour-green-dark: #274532;
  --darkmode-colour-green-dark-dark: #051805;
  --darkmode-colour-red-dark-dark: #280505;
  --darkmode-colour-red-dark: #480505;
  --darkmode-colour-red-lite: #801A10;
  --darkmode-colour-red-lite-alt: #804A40;
  --darkmode-colour-green-pale: #91B378;
  --darkmode-colour-green-pale-pale: #91E398;
  --darkmode-colour-blue-dark-pale: #236682;
  --darkmode-colour-blue-green-pale: #397874;
  --darkmode-colour-blue-green-pale-pale: #79D8D4;
  --darkmode-colour-yellow: #FCFC3E;
  --darkmode-colour-yellow-pale: #F0F070;
  --darkmode-colour-yellow-pale-pale: #FCFCC0;
  --darkmode-colour-pink-pale: #F6C1FC;
  --darkmode-colour-purple-pale: #bd93f9;
  --darkmode-colour-gray: #4F4F4F;

  --main-footer-bg-colour: #FFA9D6;
  --main-footer-txt-colour: #2B5E7C;
  --main-footer-shdw-colour: #000000;
  --colour-text-bg: #F5F4B0;
  --colour-text-bg-pale: #B1D3B8;
  --colour-text-bg-shdw: #91B378;
  --colour-text: #274532;

  --colour-tooltip-text: #000000;
  --colour-tooltip-text-link: #FEFED0;
  --colour-tooltip-text-link-shdw: #FF39A6;
  --colour-tooltip-bg: #FFA9D6;
  --colour-tooltip-bg-shdw: #4F1784;
}
