@font-face {
  font-family: "Righteous";
  src: url("/fonts/Righteous/Righteous-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "VT323";
  src: url("/fonts/VT323/VT323-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "KumbhSans";
  src: url("/fonts/Kumbh_Sans/KumbhSans-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "KumbhSans";
  src: url("/fonts/Kumbh_Sans/KumbhSans-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "KumbhSans";
  src: url("/fonts/Kumbh_Sans/KumbhSans-Light.ttf") format("truetype");
  font-weight: lighter;
}

tt {
  font-family: "VT323", monospace;
  font-size: 140%;
}

body {
  text-align: center;
  background-color: transparent;
}

body > header nav {
  font-family: "Righteous", sans-serif;
}

body > main nav.breadcrumbs {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "Righteous", sans-serif;
}

nav ol.breadcrumb {
  display: block;
  background-color: transparent;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

nav ol.breadcrumb li {
  font-size: 1.5rem;
  display: inline-block;
  background-color: transparent;
  min-width: 0vw;
  width: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.breadcrumb-item+.breadcrumb-item::before {
  content: ">>";
}

nav li.nav-item,
nav li.nav-item a.nav-link {
  vertical-align: top;
}

.dropdown-item svg {
  width: 40px;
  height: 40px;
}

.dropdown-toggle::after {
  content: "";
  border-top: none;
  border-right: none;
  border-left: none;
}

body div.modal-body img {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

body > main p {
  text-align: justify;
}

body > main ul,
body > main table {
  text-align: left;
}

body > footer {
  background-color: transparent;
  position: fixed;
  text-align: right;
  display: block;
}

body > footer button.footer_btn {
  display: block;
  width: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

div.dropdown-menu {
}

.back-to-top {
  cursor: pointer;
  position: fixed;
  display: none;
}

body > header nav svg,
body > header nav a.dropdown-item svg {
  vertical-align: middle;
  margin-right: 0.25rem;
}

body > header nav div.dropdown-menu a.dropdown-item svg {
  vertical-align: middle;
}

p.aside_par {
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
}

ul.side_by_side {
  display: inline-block;
  max-width: 49%;
  vertical-align: top;
}


@media (min-width: 0px) {
  html {
    background-size: 150px 150px;
    background-repeat: repeat;
  }

  body > header nav {
    font-size: 200%;
  }

  body div.modal-body {
    font-size: 80%;
  }

  body > header nav {
    width: 100%;
  }

  body main {
    margin-bottom: 20vw;
  }

  body > footer {
    bottom: 15px;
    right: 15px;
  }

  main img.img_wide {
    width: 100%;
  }

  .back-to-top {
    bottom: 15px;
    left: 15px;
  }

  .back-to-top svg {
    width: 30px;
    height: 30px;
  }

  ul {
    padding-inline-start: 4vw;
  }

  div.modal-body table {
    font-size: 2.5vw;
    width: 100%;
  }

  body > main nav.breadcrumbs {
    width: 100%;
  }
}


@media (min-width: 576px) {
  html {
    background-size: 300px 300px;
    background-repeat: repeat;
  }

  body > header nav {
    font-size: 200%;
  }

  body div.modal-body {
    font-size: 80%;
  }

  div.modal-body table {
    font-size: 0.75rem;
    width: 100%;
  }

  body > main nav.breadcrumbs {
    width: 650px;
  }
}


@media (min-width: 768px) {
  html {
    background-size: 300px 300px;
    background-repeat: repeat;
  }

  body > header nav {
    font-size: 150%;
  }

  body div.modal-body {
    font-size: 80%;
  }

  body > main nav.breadcrumbs {
    width: 650px;
  }
}


@media (min-width: 992px) {
  html {
    background-size: 300px 300px;
    background-repeat: repeat;
  }
  
  body > header nav {
    font-size: 125%;
  }

  body div.modal-body {
    font-size: 80%;
  }

  main img.img_wide {
    max-width: 800px;
  }

  a.back-to-top {
    bottom: 15px;
    left: 15px;
  }

  a.back-to-top:hover {
    opacity: 100%;
  }

  a.back-to-top svg {
    /*width: 90%;*/
  }

  div.intro_logo {
    display: inline-block;
    vertical-align: middle;
    width: 30vw;
  }

  div.intro_subgrid {
    width: 100%;
    margin-top: 5vw;
  }

  div.page_intro {
    vertical-align: middle;
    display: inline-block;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2vw 2vw 2vw 2vw;
    padding-bottom: 1vw;
  }

  ul {
    padding-inline-start: 2vw;
  }
}


@media (min-width: 1200px) {
}
