html {
  background-image: url("/img/plants_pineapple_00_plain.svg");
  color: var(--lightmode-colour-green-dark);
}

nav,
nav li.nav-item a.nav-link,
nav div.dropdown-menu,
nav a.dropdown-item {
  color: var(--lightmode-colour-green-dark);
}

nav .btn-outline-success {
  color: var(--colour-white);
  border-color: var(--colour-white);
}

nav .navbar-toggler {
  color: var(--lightmode-colour-green-dark);
}

nav a.dropdown-item.disabled {
  color: var(--lightmode-colour-green-lite);
}

nav div.dropdown-menu {
  background-color: var(--lightmode-colour-yellow-pale);
}

nav svg,
nav a.dropdown-item svg {
  color: var(--lightmode-colour-green-dark);
  stroke: var(--lightmode-colour-green-dark);
}

nav div.dropdown-menu a.dropdown-item.disabled svg {
  color: var(--lightmode-colour-green-lite);
  stroke: var(--lightmode-colour-green-lite);
}

nav {
  background-color: var(--lightmode-colour-yellow-pale) !important;
}

nav li.nav-item:hover {
  background-color: var(--lightmode-colour-green-lite-alt);
}

nav div.dropdown-menu a:hover {
  background-color: var(--lightmode-colour-green-lite-alt);
}

select,
select.form-control {
  color: var(--lightmode-colour-green-dark);
  background-color: var(--lightmode-colour-green-lite-alt);
}

body > main nav.breadcrumbs {
  color: var(--lightmode-colour-green-dark);
  background-color: var(--lightmode-colour-yellow-pale) !important;
}

hr {
  background-color: var(--lightmode-colour-green-lite-alt);
}

.billet {
  background-color: var(--lightmode-colour-yellow-pale);
}

.billet .btn-outline-danger,
.billet .btn-outline-success,
.billet .btn-outline-primary {
  color: var(--colour-white);
  border-color: var(--colour-white);
}

table {
  color: var(--lightmode-colour-green-dark);
}

table thead {
  color: var(--lightmode-colour-green-dark);
  background-color: var(--lightmode-colour-green-lite);
}

table tbody tr th,
table tbody tr td,
table thead th {
  border-color: var(--lightmode-colour-green-lite-alt);
  border-top-color: var(--lightmode-colour-green-lite-alt);
  border-bottom-color: var(--lightmode-colour-green-lite-alt);
}

table tbody > tr:nth-child(1n) {
  background-color: var(--lightmode-colour-brown-lite-alt);
}

table tbody > tr:nth-child(2n) {
  background-color: var(--lightmode-colour-brown-lite-alt-alt);
}

div.modal-content {
  color: var(--lightmode-colour-green-dark);
  background-color: var(--lightmode-colour-yellow-pale);
}

div.modal-header,
div.modal-header button {
  color: var(--lightmode-colour-yellow-pale);
  background-color: var(--lightmode-colour-brown);
}

div.intro_subcard .billet-header,
div.intro_subcard .billet-header a {
  color: var(--lightmode-colour-green-dark);
}

div.intro_subcard .billet-header:hover a {
  color: var(--lightmode-colour-green-lite);
  text-decoration: none;
}
