#synth {
  width: 70vw;
  margin-top: 2vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vw;
}

#synthtop,
#synthbottom {
  display: block;
}

#synth #display {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

#display canvas {
  width: 100%;
  height: 220px;
  border-radius: 10px 10px 10px 10px;
}


#synth #controls {
  display: inline-block;
  width: 57.5%;
  vertical-align: top;
  text-align: center;
}

#controls div {
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

#controls div.knob {
  width: 58px;
  height: 50px;
  display: inline-block;
  padding-left: 4px;
  padding-right: 4px;
}

#controls div.knob svg {
  width: 100%;
  height: 100%;
}

#keys svg {
  display: inline-block;
  margin: 0px -5px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 33%;
}

#keyinfo {
  text-align: center;
}

#keyinfo p.keybutton {
  display: inline-block;
  font-size: 1.25rem;
  margin-left: 1.05rem;
  margin-right: 1.05rem;
  font-weight: bolder;
  font-family: monospace;
}
