#synth {
  width: 70vw;
  margin-top: 2vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vw;
}

#synthtop,
#synthmid{
  display: flex;
  flex-direction: row;
}

#synthbottom {
  display: block;
}

#synth #display_src {
  flex-grow: 1;
  vertical-align: top;
}

#display_src svg {
  width: auto;
  height: 150px;
  position: relative;
  display: block;
  padding-right: -200px;
}

#synthtop {
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px 10px 10px 10px;
  background-color: var(--colour-tooltip-bg-shdw);
}

#synth #display {
  flex-grow: 4;
  vertical-align: top;
}

#display canvas {
  width: 100%;
  height: 220px;
  border-radius: 10px 10px 10px 10px;
}

#display canvas {
  background-color: transparent;
}

#synth #controls {
  display: inline-block;
  width: 57.5%;
  vertical-align: top;
  text-align: center;
}

#controls div {
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

.ctrl_pair * {
  display: inline-block;
  vertical-align: baseline;
}

#controls div.knob {
  width: 58px;
  height: 50px;
  display: inline-block;
  padding-left: 4px;
  padding-right: 4px;
}

#controls div.knob svg {
  width: 100%;
  height: 100%;
}


#keys {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#keys svg {
  flex: none;
  align-self: center;
  width: 33%;
  height: 95%;
}

#keyinfo {
  text-align: center;
}

#keyinfo p.keybutton {
  display: inline-block;
  font-size: 1.25rem;
  margin-left: 1.05rem;
  margin-right: 1.05rem;
  font-weight: bolder;
  font-family: monospace;
}

#freq_note_container canvas,
#freq_note_container h1 {
  display: inline-block;
}

#computer_keys_container {
  height: 20vw;
  margin-top: 2vw;
}

#computer_keys_container svg {
  width: auto;
  height: 100%;
}

#note_display {
  font-family: "VT323", monospace;
  font-size: 2.25rem;
  vertical-align: top;
  width: 12.5%;
  height: 100px;
  border-width: 3px;
  border-style: solid;
  border-color: currentColor;
  border-radius: 10px 10px 10px 10px;
}

/*canvas#synthwaveform {
  width: 100%;
  height: 220px;
  border-width: 3px;
  border-style: solid;
  border-radius: 10px 10px 10px 10px;
  box-shadow: inset 3px -3px 7px currentColor,
    inset -1px 1px 10px currentColor;
}

canvas#freq_spectrum {
  vertical-align: top;
  width: 85%;
  height: 100px;
  border-width: 3px;
  border-style: solid;
  border-radius: 10px 10px 10px 10px;
  box-shadow: inset 3px -3px 7px currentColor,
    inset -1px 1px 10px currentColor;
}
*/

#display canvas {
  background-color: var(--lightmode-colour-green-dark);
}

#keys svg rect.blackkey {
  fill: var(--colour-black);
}

#keys svg rect.whitekey {
  fill: var(--colour-white);
}

#keys svg rect.blackkey.hover,
#keys svg rect.whitekey.hover,
#keys svg rect.blackkey:hover,
#keys svg rect.whitekey:hover {
  fill: var(--lightmode-colour-pink-lite);
  /*opacity: 85%;*/
}

#keys svg rect.blackkey.active,
#keys svg rect.whitekey.active,
#keys svg rect.blackkey:active,
#keys svg rect.whitekey:active {
  fill: var(--lightmode-colour-blue-lite);
  /*opacity: 85%;*/
}

#keyinfo p.keybutton {
  color: var(--lightmode-colour-green-dark);
  text-shadow: 0.01rem 0.01rem 0.2rem var(--colour-white);
}

#note_display {
  color: orange;
  background-color: var(--lightmode-colour-green-dark);
}

canvas#synthwaveform {
  color: var(--colour-black);
  background-size: 1.25rem 1.25rem;
  background-image: linear-gradient(to right, var(--colour-gray-transparent) 1px, transparent 1px),
    linear-gradient(to bottom, var(--colour-gray-transparent) 1px, transparent 1px);
}

canvas#freq_spectrum {
  color: var(--colour-black);
  background-color: var(--lightmode-colour-green-dark);
  border-color: var(--lightmode-colour-green-dark);
  background-size: 1.25rem 1.25rem;
  background-image: linear-gradient(to right, var(--colour-gray-transparent) 1px, transparent 1px),
    linear-gradient(to bottom, var(--colour-gray-transparent) 1px, transparent 1px);
}
