div#hover_title {
  background-color: var(--lightmode-colour-green-lite-alt);
}

div.job-container .billet-body .billet {
  background-color: var(--lightmode-colour-yellow-pale);
}

div.job-container .billet-body .billet.header-billet {
  background-color: var(--lightmode-colour-green-lite-alt);
}

#timeline_wide_container svg {
  box-shadow: 4px 4px 15px var(--svg-dark-shadow-colour);
}

#timeline_wide_container svg #background_rect {
  fill: var(--svg-light-bg-colour) !important;
}

div.job-container .billet-body .billet {
  box-shadow: 4px 4px 15px var(--svg-light-shadow-colour);
}

div#hover_title {
  border-left: 5px solid var(--svg-light-shadow-colour);
  border-bottom: 5px solid var(--svg-light-shadow-colour);
  box-shadow: 4px 4px 15px var(--svg-light-shadow-colour);
}
