:root {
  --colour-white: #FFFFFF;
  --colour-gray: #7F7F7F;
  --colour-gray-transparent: #78787878;
  --colour-black: #000000;
  --svg-dark-bg-colour: #4F1784;
  --svg-dark-shadow-colour: #000000;
  --svg-light-bg-colour: #F1FFF1;
  --svg-light-shadow-colour: #000000;

  --darkmode-colour-green-dark: #274532;
  --darkmode-colour-green-dark-dark: #051805;
  --darkmode-colour-red-dark-dark: #280505;
  --darkmode-colour-red-dark: #480505;
  --darkmode-colour-red-lite: #801A10;
  --darkmode-colour-red-lite-alt: #804A40;
  --darkmode-colour-green-pale: #91B378;
  --darkmode-colour-green-pale-pale: #91E398;
  --darkmode-colour-blue-dark-pale: #236682;
  --darkmode-colour-blue-green-pale: #397874;
  --darkmode-colour-blue-green-pale-pale: #79D8D4;
  --darkmode-colour-yellow: #FCFC3E;
  --darkmode-colour-yellow-pale: #F0F070;
  --darkmode-colour-yellow-pale-pale: #FCFCC0;
  --darkmode-colour-pink-pale: #F6C1FC;
  --darkmode-colour-purple-pale: #bd93f9;
  --darkmode-colour-gray: #4F4F4F;

  --main-footer-bg-colour: #FFA9D6;
  --main-footer-txt-colour: #2B5E7C;
  --main-footer-shdw-colour: #000000;
  --colour-text-bg: #F5F4B0;
  --colour-text-bg-pale: #B1D3B8;
  --colour-text-bg-shdw: #91B378;
  --colour-text: #274532;

  --colour-tooltip-text: #000000;
  --colour-tooltip-text-link: #FEFED0;
  --colour-tooltip-text-link-shdw: #FF39A6;
  --colour-tooltip-bg: #FFA9D6;
  --colour-tooltip-bg-shdw: #4F1784;

  --colour-button-bg: #FFA9D6;

  --colour-error-svg-bg: #000000;
}

html {
  background-image: url("/img/plants_palm-leaf_00.png");
}

body,
body header,
body header nav li.nav-item a.nav-link,
body header nav div.dropdown-menu,
body header nav a.dropdown-item {
  color: var(--darkmode-colour-yellow-pale-pale);
}

a {
  color: var(--darkmode-colour-yellow-pale);
  text-decoration: none;
  font-weight: bolder;
}

a:hover {
  color: var(--darkmode-colour-green-pale);
}

hr {
  background-color: var(--darkmode-colour-yellow-pale-pale);
}

.billet {
  color: var(--colour-black);
  background-color: var(--darkmode-colour-red-dark-dark);
  box-shadow: -5px 5px 15px var(--colour-black);
}

.billet-header,
.billet-body {
  color: var(--darkmode-colour-yellow-pale-pale);
}

.billet .btn-outline-danger,
.billet .btn-outline-success,
.billet .btn-outline-primary {
  color: var(--colour-white);
  border-color: var(--colour-white);
}

select,
select.form-control {
  color: var(--darkmode-colour-yellow-pale);
  background-color: var(--darkmode-colour-red-dark);
}

.billet.alert.alert-success {
  color: var(--darkmode-colour-green-pale-pale);
  background-color: var(--darkmode-colour-blue-green-pale);
}

.billet.alert.alert-warning {
  color: var(--darkmode-colour-pink-pale);
  background-color: var(--darkmode-colour-red-dark);
}

nav input[type=search] {
  color: var(--darkmode-colour-yellow-pale);
  background-color: var(--darkmode-colour-red-lite);
}

table {
  color: var(--darkmode-colour-yellow-pale);
}

table thead {
  color: var(--darkmode-colour-yellow-pale);
  background-color: var(--colour-black);
}

table tbody tr th,
table tbody tr td,
table thead th {
  border-color: var(--darkmode-colour-red-dark);
  border-top-color: var(--darkmode-colour-red-dark);
  border-bottom-color: var(--darkmode-colour-red-dark);
}

table tbody > tr:nth-child(1n) {
  background-color: var(--darkmode-colour-green-dark-dark);
}

table tbody > tr:nth-child(2n) {
  background-color: var(--darkmode-colour-red-dark-dark);
}

div.modal-content {
  color: var(--darkmode-colour-yellow-pale);
  background-color: var(--darkmode-colour-red-dark);
}

div.modal-header,
div.modal-header button {
  color: var(--darkmode-colour-red-dark);
  background-color: var(--darkmode-colour-yellow-pale);
}

div.intro_subbillet .billet-header,
div.intro_subbillet .billet-header a {
  color: var(--darkmode-colour-yellow-pale);
}

div.intro_subbillet .billet-header:hover a {
  color: var(--darkmode-colour-yellow);
  text-decoration: none;
}
